<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>stand</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- #region component -->
  <div class="stand-component">
    <div class="stand-section data-product">
      <div class="image">
        <div class="img-container">
          <img [src]="data.images[0]" class="img-pro" alt="">
          <!-- <img src="https://http2.mlstatic.com/D_NQ_NP_683319-MCO72329447420_102023-O.webp" class="img-pro" alt=""> -->
        </div>
        <!-- <div class="thumbernails">
         <ng-container  *ngFor="let image of data.images">
           <img src="{{image}}" alt="">
         </ng-container>
        </div> -->
      </div>
      <span class="title">
       {{data.title}}
      </span>
      <div class="rating">
        <div class="stars">
          <mat-icon class="star filled">star</mat-icon>
          <mat-icon class="star filled">star</mat-icon>
          <mat-icon class="star filled">star</mat-icon>
          <mat-icon class="star filled">star_half</mat-icon>
          <mat-icon class="star">star</mat-icon>
        </div>
        <span class="rating-text">{{data.rating}} | 10</span>
      </div>
      <div class="price">
        <div class="price-current">
          <span class="value">${{data.price}}<sup></sup></span>
          <span class="promo">
            <p>-20%</p>
          </span>
          <span class="promo-label">
            <p>Oferta
              Limitada</p>
          </span>
        </div>
        <!-- <div class="price-old">
              <span>Precio normal:</span>
              <span>$35500</span>
          </div> -->
      </div>
      <div class="required-options ">
        <div class="option-component-basic type-color shape-round size-s ">
          <div class="headline">
            Color
          </div>
          <div class="options">
            <div class="item active">
              <div class="content-color">
                <span style="background:rgb(207, 207, 207)"></span>
                <span style="background:rgb(253, 242, 92)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(228, 220, 138)"></span>
                <span style="background:rgb(255, 255, 255)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(56, 178, 248)"></span>
                <span style="background:rgb(5, 5, 5)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(171, 56, 248)"></span>
                <span style="background:rgb(153, 87, 87)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(171, 56, 248)"></span>
                <span style="background:rgb(153, 87, 87)"></span>
                <span style="background:rgb(160, 160, 160)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(56, 242, 248)"></span>
              </div>
            </div>
            <!-- --- -->
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(207, 207, 207)"></span>
                <span style="background:rgb(253, 242, 92)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(228, 220, 138)"></span>
                <span style="background:rgb(255, 255, 255)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(56, 178, 248)"></span>
                <span style="background:rgb(5, 5, 5)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(171, 56, 248)"></span>
                <span style="background:rgb(153, 87, 87)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(171, 56, 248)"></span>
                <span style="background:rgb(153, 87, 87)"></span>
                <span style="background:rgb(160, 160, 160)"></span>
              </div>
            </div>
            <div class="item">
              <div class="content-color">
                <span style="background:rgb(56, 242, 248)"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="option-component-basic shape-square size-s">
          <div class="headline">
            talla
          </div>
          <div class="options">
            <div class="item">
              <span>l</span>
            </div>
            <div class="item">
              <span>xl</span>
            </div>
            <div class="item">
              <span>m</span>
            </div>
            <div class="item">
              <span>s</span>
            </div>
            <div class="item">
              <span>18</span>
            </div>
            <div class="item">
              <span>18.5</span>
            </div>
            <div class="item">
              <span>l</span>
            </div>
            <div class="item">
              <span>xl</span>
            </div>
            <div class="item">
              <span>m</span>
            </div>
            <div class="item">
              <span>s</span>
            </div>
            <div class="item">
              <span>18</span>
            </div>
            <div class="item">
              <span>18.5</span>
            </div>
          </div>
          <div class="footer-required">
            <button class="btn-io fill-clear size-s color-main add-icon-left" (click)="presentModal('sizeChart')">
              <mat-icon svgIcon="ruler_light"></mat-icon>
              <p>Tabla de tallas</p>
            </button>
          </div>
        </div>
      </div>
      <div class="buttons-shopping">
        <div class="buttons-section-common button-double">
          <ion-button class="btn-io fill-solid-main shape-round size-xl shadow">
            Comprar ahora
          </ion-button>

        </div>
      </div>
      <div class="group-info">
        <div class="perks-list">
          <ul>
            <li>
              <button class="button-53" role="button">Descuento</button>
            </li>
            <li>
              <button class="button-53" role="button">Envio Gratis</button>
            </li>
          </ul>
        </div>
        <div class="specs-list">
          <ul>
            <li>
              <button  (click)="presentModal('features')">
                <span class="title-specs">Caracteristicas</span>
                <span class="legend-specs"></span>
              </button>
            </li>
            <li>
              <button (click)="presentModal('description')">
                <span class="title-specs">Descripcion</span>
                <span class="legend-specs"></span>
              </button>
            </li>
            <li>
              <button>
                <span class="title-specs">Garantia</span>
                <span class="legend-specs"></span>
              </button>
            </li>
            <li>
              <button>
                <span class="title-specs">Sostenibilidad</span>
                <span class="legend-specs"></span>
              </button>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="stand-section customer-reviews-product">
      <h3 class="title">Opiniones del producto</h3>
      <div class="customer-rating">
        <div class="head-rating">
          <span class="score">4.3</span>
          <div class="rating">
            <div class="stars">
              <mat-icon class="star filled">star</mat-icon>
              <mat-icon class="star filled">star</mat-icon>
              <mat-icon class="star filled">star</mat-icon>
              <mat-icon class="star filled">star_half</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
            <span class="rating-text">10
              calificaciones</span>
          </div>
        </div>
        <div class="body-rating">
          <h4 class="subtitle">Calificacion de
            caracteristicas</h4>
          <div class="rating">
            <span class="rating-text">Relacion
              precio/calidad</span>
              <div class="stars">
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star_half</mat-icon>
                <mat-icon class="star">star</mat-icon>
              </div>

          </div>
          <div class="rating">
            <span class="rating-text">Calidad de la
              tela</span>
              <div class="stars">
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star</mat-icon>
                <mat-icon class="star filled">star_half</mat-icon>
                <mat-icon class="star">star</mat-icon>
              </div>

          </div>
        </div>
      </div>
      <div class="customer-reviews">
        <h4 class="subtitle">Opiniones destacadas</h4>
        <div class="review" *ngFor="let review of data.reviews">
          <p>
           {{review.comment}}
          </p>
          <div class="buttons-section-common button-double">
            <ion-button class="btn-icon fill-solid-second size-m">
              <mat-icon svgIcon="flag"></mat-icon>
            </ion-button>
            <div class="group-buttons">

              <ion-button class="btn-icon fill-solid-second size-m">
                <mat-icon svgIcon="like"></mat-icon>
              </ion-button>
              <ion-button class="btn-icon fill-solid-second size-m">
                <mat-icon svgIcon="dislike"></mat-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***gropus*** -->
    <div class="group-stand-section">
      <!-- * -->
      <div class="stand-section purchase-product">
        <div class="details-container">
          <div class="item-detail">
            <div class="info-text">
              <!-- <span class="material-symbols-rounded icon-info">local_shipping</span> -->
               <mat-icon svgIcon="local_shipping_light" class="icon-info"></mat-icon>
              <span class="primary">Envios a nivel nacional</span>
              <span class="secondary"><strong>Envio GRATIS</strong> Conoce los tiempos y las formas de
                envío.</span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <mat-icon svgIcon="redo_light" class="icon-info"></mat-icon>
              <span class="primary">Devolucion gratis</span>
              <span class="secondary">Tienes 30 dias desde que lo recibes</span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <mat-icon svgIcon="verified_light" class="icon-info"></mat-icon>
              <span class="primary">Garantia</span>
              <span class="secondary">Tienes 90 dias de garantia</span>
              <!-- <span class="secondary">ver mas</span> -->
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <mat-icon svgIcon="shield_light" class="icon-info"></mat-icon>
              <span class="primary">Compra protegida</span>
              <span class="secondary">Tienes 30 dias desde que lo recibes</span>
            </div>
          </div>
        </div>
      </div>
      <!-- * -->
      <!-- <div class="stand-section  data-store">
        <div class="headline">
          <div class="group">
            <span class="material-symbols-rounded logo">storefront</span>
            <span>
              <h6>Tienda</h6>
              <h4>Mama-Juana</h4>
            </span>
          </div>
          <span class="material-symbols-rounded verified">verified</span>
          <div class="separator">
            <div class="line"></div>
          </div>
        </div>
        <div class="details-container">
          <div class="item-detail">
            <div class="info-text">
              <span class="material-symbols-rounded icon-info">verified</span>
              <span class="primary">Tienda verificada</span>
              <span class="secondary"></span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <span class="material-symbols-rounded icon-info">sell</span>
              <span class="primary">+100 ventas concretadas</span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <span class="material-symbols-rounded icon-info">volunteer_activism</span>
              <span class="primary">Brinda buena atencion</span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <span class="material-symbols-rounded icon-info">timer</span>
              <span class="primary">Entrega los productos a tiempo</span>
            </div>
          </div>
          <div class="item-detail">
            <div class="info-text">
              <span class="material-symbols-rounded icon-info">thumb_up</span>
              <span class="primary">99%</span>
            </div>
          </div>
        </div>
        <div class="buttons-section-common button-double">
          <button class="btn-io shape-round size-s">ver tienda</button>
        </div>
      </div> -->
    </div>
  </div>
    <!-- #endregion component -->
</ion-content>