<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>exercise</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-title>{{title}}</ion-title>
    <ion-title size="large">Variable uno  = {{var1$ | async}}</ion-title>
    <ion-title size="large">Variable dos  = {{var2$ | async}}</ion-title>
    <ion-title size="large">Variable tres  = {{var3$ | async}}</ion-title>
    <ion-title size="large">Variable cuatro  = {{var4$ | async}}</ion-title>
    <ion-title size="large">Variable uno - suscripcion  = {{var1}}</ion-title>
</ion-content>
