<!-- #region Header -->
<ion-header>
    <div id="main-content">
        <header>
            <!--©head one  -->
            <div class="head hd-top">
                <!-- ®button left -->
                <div class="wrapper-head">
                    <ion-back-button defaultHref="/" class="button-ia menu icon"></ion-back-button>
                </div>
                <!-- ®buttons right -->
                <div class="wrapper-head">
                    <ion-button class="button-ia type-icon style-none shadow-none" slot="icon-only">
                        <ion-icon name="ellipsis-vertical-outline" class="icon-ia"></ion-icon>
                    </ion-button>
                   <ion-button class="button-ia type-icon style-dinamic shadow-none" slot="icon-only">
                        <ion-icon src="../../assets/icon/bell.svg" class="icon-ia"></ion-icon>
                    </ion-button>
                   <ion-button class="button-ia type-icon style-dinamic shadow-none" slot="icon-only">
                        <ion-icon src="../../assets/icon/bag.svg" class="icon-ia"></ion-icon>
                    </ion-button>
                    <ion-button class="button-ia type-icon style-dinamic shadow-none" slot="icon-only">
                        <ion-icon name="home-outline" class="icon-ia"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </header>
    </div>
</ion-header>
<!-- #endregion -->
