//#region - OPEN SANS
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format('woff2');
  font-weight: 800;
  font-style: bolder;
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format('woff2');
  font-weight: 600;
  font-style: semibold;
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf") format('woff2');
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format('woff2');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

//#endregion
//#region - UBUNTU SANS
@font-face {
  font-family: "ubuntu-sans";
  src: url("../fonts/UbuntuSans/UbuntuSans-ExtraBold.ttf") format('woff2');
  font-weight: 800;
  font-style: bold;
  font-display: swap;
  
}

@font-face {
  font-family: "ubuntu-sans";
  src: url("../fonts/UbuntuSans/UbuntuSans-Bold.ttf") format('woff2');
  font-weight: 700;
  font-style: bold;
  font-stretch: 193%;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu-sans";
  src: url("../fonts/UbuntuSans/UbuntuSans-Medium.ttf") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu-sans";
  src: url("../fonts/UbuntuSans/UbuntuSans-Regular.ttf") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu-sans";
  src: url("../fonts/UbuntuSans/UbuntuSans-Light.ttf") format('woff2');
  font-weight: 300;
  font-style: medium;
  font-display: swap;
}

//#endregion
//#region - UBUNTU MONO
// @font-face {
//   font-family: "ubuntu-mono";
//   src: url("../fonts/UbuntuMono/UbuntuMono-Bold.ttf") format('woff2');
//   font-weight: 700;
//   font-style: bold;
// }
//#region - ROBOTO
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format('woff2');
  font-weight: 900;
  font-style: black;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format('woff2');
  font-weight: 700;
  font-style: bold;
  // font-stretch: 100%;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format('woff2');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format('woff2');
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format('woff2');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format('woff2');
  font-weight: 100;
  font-style: thin;
}

//#endregion