.form-io {
  // background: yellowgreen;
  height: 100%;
  // margin:auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 420px;
  padding: 0.625rem;

  .head-form {
    // background: goldenrod;
    padding: 0.625rem 0;
  }

  .body-form {
    // background:violet;
    // 
    width: 100%;
    flex: 1;
    // margin:auto;
    // display:grid;
    // grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0;
  }

  .footer-form {
    padding: 0.625rem 0;
    // background: red;
    // flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
      @include font-standar();

      a {
        cursor: pointer;
        @include font-title($fs: 1rem, $font: 2, $color: var(--ion-color-primary));

      }
    }
  }
}

.form-io {
  // background: green;

  .fieldset-group {
    //  background: red;
    border: none;
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    legend {
      @include font-standar($color: var(--gray-ii), $fw: 600);
    }

    .fieldset {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }

  .fielset-options {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .divider {
    // background: violet;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.25rem 0;
    color: rgb(204, 204, 204);

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid rgb(204, 204, 204);
    }

    &:not(:empty)::before {
      margin-right: 10px;
    }

    &:not(:empty)::after {
      margin-left: 10px;
    }

    span {
      font-size: 0.875rem
    }
  }
}