@charset "UTF-8";
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("woff2");
  font-weight: 800;
  font-style: bolder;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: thin;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/UbuntuSans/UbuntuSans-ExtraBold.ttf") format("woff2");
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/UbuntuSans/UbuntuSans-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/UbuntuSans/UbuntuSans-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/UbuntuSans/UbuntuSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/UbuntuSans/UbuntuSans-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: medium;
}
/*
AJUSTAR TEXTO DENTRO DE UN CONTENEDOR DANDOLE UN LIMITE DE LINEAS
 display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(2 * 1.2em); //* Ajusta el valor según el tamaño de la fuente 
      line-height: 1.2em; //* Ajusta el valor según el tamaño de la fuente
*/
.container {
  --pdd-lateral: 1.25rem;
}

.container {
  display: grid;
  row-gap: 1.25rem;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  margin: 0 auto;
  padding: 0 var(--pdd-lateral);
  min-width: 375px;
}

.container.custom-banner {
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.modulo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.modulo .body-modulo {
  width: 100%;
}

.modulo.type-card {
  background: var(--bg-modulo-primary);
  border-radius: var(--card-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.modulo.type-card .head-modulo {
  padding: 1.25rem 0.625rem 0.625rem 1.25rem;
}
.modulo.type-card .body-modulo {
  padding: 0.3125rem 0.625rem;
}
.modulo.type-card .footer-modulo {
  border-top: 2px solid var(--gray-iv);
  padding: 0.625rem 1.25rem 0.625rem;
}
.modulo.size-390 {
  min-height: 380px;
}

@media screen and (max-width: 520px) {
  .modulo.type-card .body-modulo {
    padding: inherit 0.3125rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.625rem;
  }
}
.grid-basic-1200 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.3125rem;
}

@media screen and (max-width: 1115px) {
  .grid-basic-1200 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1049px) {
  .grid-basic-1200 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 859px) {
  .grid-basic-1200 {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}
@media screen and (max-width: 570px) {
  .grid-basic-1200 {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
.head-component {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-component .title-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.head-component .title-section .title {
  font-family: var(--mx-button-title);
  font-size: "";
  font-weight: 800;
  color: var(--text-color-black);
  font-size: 1.17rem;
  width: 100%;
  text-decoration: none;
  margin: unset;
}
.head-component .title-section .subtitle {
  font-family: var(--mx-button-standar);
  --font-family: var(--mx-button-standar);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-iii);
}
.head-component .button-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.head-container .title-section {
  border-bottom: 1px solid var(--gray-ii);
  border-left: 1px solid var(--gray-ii);
  width: -moz-fit-content;
  width: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.625rem 3rem 0.625rem 0.625rem;
  position: relative;
  z-index: 2;
}
.head-container .title-section:after {
  content: "";
  position: absolute;
  z-index: 1;
  border-top: 1px solid var(--gray-ii);
  border-right: 1px solid var(--gray-ii);
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
.head-container .title-section .title {
  font-family: var(--mx-button-title);
  font-size: "";
  font-weight: 800;
  color: var(--ion-color-primary);
  font-size: 1.17rem;
  width: 100%;
  text-decoration: none;
  margin: unset;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-text-decoration: none #000000 solid;
          text-decoration: none #000000 solid;
}
.head-container .title-section .subtitle {
  font-family: var(--mx-button-standar);
  --font-family: var(--mx-button-standar);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-iii);
}

.buttons-section-common {
  width: 100%;
  display: flex;
}
.buttons-section-common.button-unique {
  justify-content: center;
  align-items: center;
}
.buttons-section-common.button-double {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.buttons-section-common.button-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.65rem;
  justify-items: center;
}

/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: light;
  font-weight: 100 700;
  src: url("../../assets/icon/font-icon/material-icon.woff2") format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.bt-io,
.bt-icon {
  --btn-solid-second-bg: var(--gray-i);
  --btn-solid-second-cl: var(--black-regular);
  --btn-solid-graysoft: var(--gray-ii);
  --btn-radius: var(--radius-iii);
  --btn-pdd: 0 var(--pdd-l);
}

.fill-solid-primary.bt-icon, .fill-solid-primary.bt-io {
  background: var(--ion-color-primary);
}
.fill-solid-secondary.bt-icon, .fill-solid-secondary.bt-io {
  --background: var(--btn-solid-second-bg);
  color: var(--btn-solid-second-cl);
}
.fill-solid-warning.bt-icon, .fill-solid-warning.bt-io {
  --background: var(--ion-color-warning);
  --color: var(--white-regular);
}
.fill-solid-black.bt-icon, .fill-solid-black.bt-io {
  --background: var(--black-regular);
  --color: var(--white-regular);
}
.fill-solid-gray.bt-icon, .fill-solid-gray.bt-io {
  --background: var(--btn-solid-second-bg);
  --color: var(--btn-solid-second-cl);
}
.fill-solid-soft.bt-icon, .fill-solid-soft.bt-io {
  --background: var(--btn-solid-second-bg);
  --color: var(--btn-solid-graysoft);
}
.fill-solid-xsoft.bt-icon, .fill-solid-xsoft.bt-io {
  --background: var(--gray-soft);
  --color: var(--btn-solid-graysoft);
}
.fill-outline-primary.bt-icon, .fill-outline-primary.bt-io {
  --background: none;
  color: var(--ion-color-primary);
  border: 2px solid var(--ion-color-primary);
  fill: var(--ion-color-primary);
}
.fill-outline-warning.bt-icon, .fill-outline-warning.bt-io {
  --background: none;
  color: var(--ion-color-warning);
  border: 2px solid var(--ion-color-warning);
  fill: var(--ion-color-warning);
}
.fill-outline-black.bt-icon, .fill-outline-black.bt-io {
  --background: none;
  color: var(--black-regular);
  border: 2px solid var(--black-regular);
  fill: var(--black-regular);
}
.fill-clear.bt-icon, .fill-clear.bt-io {
  --background: none;
  --color: var(--text-color-black);
  color: var(--text-color-black);
}

.shape-rounded.bt-icon, .shape-rounded.bt-io {
  --border-radius: var(--btn-radius);
  border-radius: var(--btn-radius);
}
.shape-squared.bt-icon, .shape-squared.bt-io {
  --border-radius: var(--radius-square);
  border-radius: var(--btn-radius);
}

.txt-sz-xxxl.bt-icon, .txt-sz-xxxl.bt-io {
  font-size: var(--ft-sz-xxxl);
}
.txt-sz-xl.bt-icon, .txt-sz-xl.bt-io {
  background: #000;
  font-size: var(--ft-sz-xl);
}
.txt-sz-l.bt-icon, .txt-sz-l.bt-io {
  font-size: var(--ft-sz-l);
}
.txt-sz-m.bt-icon, .txt-sz-m.bt-io {
  font-size: var(--ft-sz-m);
}
.txt-sz-s.bt-icon, .txt-sz-s.bt-io {
  font-size: var(--ft-sz-s);
}
.txt-color-primary.bt-icon, .txt-color-primary.bt-io {
  color: var(--ion-color-primary);
}
.txt-color-warning.bt-icon, .txt-color-warning.bt-io {
  color: var(--ion-color-warning);
}
.shadow.bt-icon, .shadow.bt-io {
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bt-io {
  font-family: var(--mx-button-font);
  font-size: 1rem;
  font-weight: 600;
  color: "";
  box-sizing: border-box;
  margin: unset;
  letter-spacing: unset;
  text-transform: none;
  --box-shadow: none;
}

.bt-io.size-xl {
  height: 3.5rem;
  min-height: 3.5rem;
  max-height: 3.5rem;
}
.bt-io.size-l {
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
}
.bt-io.size-m {
  height: var(--size-m);
}
.bt-io.size-s {
  height: var(--size-s);
}
.bt-io.expand-full {
  width: 100%;
}
.bt-io.expand-regular {
  width: 18.75rem;
}
.bt-io.expand-content {
  width: content;
}

.bt-icon {
  border: none;
  height: min(var(--size-l), var(--size-l));
  width: min(var(--size-l), var(--size-l));
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  --border-radius: 100%;
  --box-shadow: none;
}
.bt-icon .icon {
  font-weight: 200;
}

.bt-icon.size-xl {
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  max-height: 3.5rem;
}
.bt-icon.size-l {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
}
.bt-icon.size-l img {
  width: calc(var(--size-l) - var(--pdd-m));
  height: calc(var(--size-l) - var(--pdd-m));
}
.bt-icon.size-m {
  width: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
}
.bt-icon.size-s {
  width: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  height: 2rem;
  min-height: 2rem;
  max-height: 2rem;
}
.bt-icon.icon-size-xl .icon {
  font-size: 2.5rem;
}

.button-legend {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 5.3rem;
  transition: color 0.3s ease;
}
.button-legend:hover .legend {
  color: black;
}
.button-legend > .bt-icon {
  border: 1px solid black;
}
.button-legend .legend {
  width: 4.3rem;
  max-width: 4.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--mx-button-standar);
  --font-family: var(--mx-button-standar);
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--black-regular);
  transition: border 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
}

.bt-io.multiline {
  --padding-bottom:0;
  --padding-top:0;
}
.bt-io.multiline .wrapper-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bt-io.multiline .wrapper-txt .line-primary {
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  height: 18px;
}
.bt-io.multiline .wrapper-txt .line-secondary {
  font-size: 0.85rem;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.-bg-gray {
  background: var(--background-secondary);
}

.-bg-white {
  background: var(--white-regular);
}

.-bg-gray-xsoft {
  background: var(--gray-xsoft);
  background: white;
}

.-pdd-m-hg {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.-pdd-l-hg {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.-pdd-l-top {
  padding-top: 1.25rem;
}

.-pdd-m-bottom {
  padding-bottom: 0.625rem;
}

.-pdd-l-bottom {
  padding-bottom: 1.25rem;
}

.-over-hidden {
  overflow: hidden;
}

.-hidden {
  display: none;
}/*# sourceMappingURL=shared.css.map */