<!-- #region MODULO SLIDER-ONE -->
<div class="container ctn-slider">
  <div class="modulo shadow">
    <!-- ©titulo -->
    <div class="head-modulo">
      <div class="capsule-title">
        <div class="title-section">
          <h1>Lo mas votado</h1>
          <h5>Lo mas votado de la semana.</h5>
        </div>
      </div>
    </div>
    <!-- ©body -->
    <div class="body-modulo">
      <!-- ®slider -->
      <swiper-container #swiperOne>
        <swiper-slide class="slide-one">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial 1</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bell.svg"></ion-icon>
                    <p>2357</p>
                  </div>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide-two">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial 2</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide-three">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide-one">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial 3</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide-two">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial 4</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide-three">
          <div class="card-one" id="item-">
            <div class="bx-img">
              <img
                src="https://imgs.search.brave.com/oko1vGdTWlAQKwss4-7xBhcG7U7M8lqJIwbxckDsIU4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvOTEw/MTk1OTg4L3Bob3Rv/L3BpenphLW1hcmdh/cml0YS5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9WlBsb3ZF/c2JGV0pxNk0za0xS/OTh1MGVvOE5DWWlG/RXVSamtNS1FDd0g0/MD0"
                class="imgOne" alt="imagen producto" />
              <div class="icon-section">
                <div class="icon-card">
                  <ion-icon class="my-icon-one" src="../../assets/icon/like.svg"></ion-icon>
                  <p>80%</p>
                </div>
              </div>
            </div>
            <div class="bx-info">
              <div class="wrapper-info">
                <div class="section-column">
                  <h3>Hamburguesa La Imperial 5</h3>
                </div>
              </div>
              <div class="wrapper-info">
                <div class="section-row">
                  <p>La Colonial</p>
                  <div class="icon-card">
                    <ion-icon class="my-icon-one" src="../../assets/icon/bag.svg"></ion-icon>
                    <p>740</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      
    </div>
  </div>
</div>
<!-- #endregion -->