.custom-alert .alert-title {
    color: #f8f9fa; /* Cambia el color del título */
  }
  
  .custom-alert .alert-message {
    font-size: 16px; /* Cambia el tamaño del mensaje */
  }
  
  .custom-alert .alert-button-group {
    --button-border-radius: 10px; /* Cambia el radio del borde de los botones */
  }