.card-light {
  height:var(--card-light-height);
  width: var(--card-light-width);
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--ion-color-step-950);
  cursor: pointer;
  .img-section-card {
    border-radius: var(--card-light-bd-radius);
    overflow: hidden;
    box-shadow: var(--card-light-bx-shadow);
    background: none;
    position: relative;
    height: var(--card-light-img-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--card-light-bd-radius);
    }
  }
  .content-section-card {
    padding: 0.3rem 1rem 0 0;
    text-align: right;
    .price {
      label {
        @include font-standar(medium-bold);
      }
    }
  }
}

