//#variables
.container {
  //// --base-columns-center-x3: minmax(240px, 1fr) minmax(720px, 2fr) minmax(240px, 1fr);
  //// --base-columns-center-x3: 1fr 2fr 1fr;
  --base-columns-center-x3: 1fr minmax(520px, 2fr) 1fr;
  --base-columns-left-x2: minmax(520px, 2fr) 1fr;
  --base-columns-right-x2: 1fr minmax(520px, 2fr);
  --base-columns-center-x1:1fr;
  --base-areas-x3: "sideleft main sideright";
  --base-areas-right-x2: "sideleft main" "sideright main";
  --base-areas-left-x2: "main sideright" "main sideright";
  --base-areas-center-x1: "main";
  --ctn-base-pdd: var(--pdd-l);
  --ctn-row-gap: calc(0.625rem * 2);
  --ctn-column-gap: 2rem;
}
//#structure
.container {
  width: clamp(320px, 100%, calc(100% - 20px));
  margin: 0 auto;
  display: grid;
  grid-template-areas: var(--base-areas-x3);
  row-gap: var(--ctn-row-gap);
  column-gap: var(--ctn-column-gap);
  //*areas
  .side-left,
  .main,
  .side-right {
    display: grid; /* Convertir en una cuadrícula interna */
    row-gap: var(--ctn-row-gap);
  }
  .main {
    // background:yellow;
    grid-area: main;
  }
  .side-left {
    // background: rgb(173, 240, 252);
    grid-area: sideleft;
   
  }
  .side-right {
    // background: red;
    grid-area: sideright;
  }
}
//#Attributes
.container {
  &.content {
    &-full {
      height: 100vh;
    }
  }
}
//#areas
.container {
  &.area {
    &-center-x3 {
      grid-template-columns: var(--base-columns-center-x3);
      grid-template-rows: auto;
    }
    &-left {
      margin: auto;
      grid-template-areas: "main sideright";
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;
      row-gap: var(--ctn-gap-row-m);
      column-gap: 0.625rem;
    }
  }
  &.align {
    &-center {
      justify-content: center; /* Centra horizontalmente */
      align-content: center; /* Centra verticalmente */
    }
  }
}

//#region --- RESPONSIVE
@include mediaquery(1120px) {
  .container {
    &.area {
      &-center-x3 {
        grid-template-columns: var(--base-columns-right-x2);
       grid-template-areas: var( --base-areas-right-x2);
      }
    }
  }
}
@include mediaquery(820px) {
  .container {
    .side-left {
     display:none;
    }
    .side-right {
      display:none;
    }
    &.area {
      &-center-x3 {
        grid-template-columns: var(--base-columns-center-x1);
       grid-template-areas: var( --base-areas-center-x1);
      }
    }
  }
}
//#endregion
//**page OTP
// .wrapper-otp {
//   display: flex;
//   justify-content: center;
//   max-width: 100%;
//   flex: 1;
//   .otp {
//     @include font-standar();
//     font-size: 2rem;
//     color: var(--text-black);
//     width: 4rem;
//     height: 4rem;
//     text-align: center;
//     outline: none;
//     padding: 2rem 1rem;
//     margin: 0 0.3rem;
//     border-radius: 8px;
//     border: 2px solid var(--input-border);
//     &:focus {
//       border-color: var(--ion-color-primary);
//     }
//   }
// }
