//#variables
.form-io{
  --form-mxwidth:min(18.75rem,100%); //300px
}
//#structure
.form-io {
  // background:violet;
  min-height: 100%;
  // width: 100%;
  width: var(--form-mxwidth);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > div:not(:first-child) {
    // background:red;
    margin-top: 1.25rem;
  }
}
.separator {
 @include separator();
  margin: 10px 0;

}
.footer-form {
  margin: var(--type-form-footer-margin);
  .textDown-wrapper {
    cursor: pointer;
    @include font-standar(
      $color: var(--type-form-footer-color),
      $fs: var(--type-form-footer-ft-sz)
    );
    width: 100%;
    text-align: center;
    a {
      @include font-standar($color: var(--ion-color-primary));
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
