//#Structure
.head-component {
  // background:rgb(253, 193, 193);
  position:relative;
  height:var(--headline-hg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-section {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .title {
      // background:yellow;
      @include font-title($color:var(--headline-title-cl));
      width: 100%;
      &.margin-unset {
        margin: unset;
      }
    }
    .subtitle {
      // background:rgb(161, 161, 255);
      @include font-standar($color: var( --headline-subtitle-cl));
    }
  }
  .logo-section {
    // background:red;
    height: var(--headline-logo-hg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  .button-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    .btn-icon{
      margin-left: var(--pdd-m);
    }
  }
}
//#Attributes
.head-component {
  &.display {
    &-nowrap {
      .title-section {
        .title,
        .subtitle {
          white-space: nowrap;
          margin: unset;
        }
      }
    }
  }
  &.align {
    &-left {
      .title,
      .subtitle {
        text-align: left;
      }
    }
    &-center {
      .title,
      .subtitle {
        text-align: center;
      }
    }
  }
.slot{
  &-start{
    margin-right:var(--pdd-m);
  }
}
}
