ion-header{
    margin-bottom:var(--type-header-margin-bottom);
    box-shadow: none;
}
ion-toolbar{
padding: 0 10px;
}
ion-avatar{
    height:3rem;
    width:3rem;
}
ion-menu-button{
    color:var(--icon-color);
}