<ion-header>
  <ion-toolbar>
    <div class="logo-head" slot="start">
      <ion-title>Soga-io</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button class="btn-icon fill-clear shape-round size-m">
        <mat-icon svgIcon="search"></mat-icon>
      </ion-button>
      <ion-button class="btn-icon fill-clear shape-round size-m" (click)="menuNotification()">
        <mat-icon svgIcon="notification"></mat-icon>
      </ion-button>
      <ion-button class="btn-icon fill-clear icon-head size-m">
       <mat-icon svgIcon="bag"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button class="btn-icon fill-solid-second shape-round size-m"></ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn-icon shape-round fill-solid-clear" (click)="menuNotification()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn-icon fill-solid-second shape-round size-m"></ion-button>
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="btn-icon fill-solid-second shape-round size-m"></ion-button>
        <ion-icon  slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons >
    <ion-menu-button  slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header> -->