.io-menu-main {
    .io-header {
      .io-title {
        font-family: "ubuntu", sans-serif;
        color:var(--lt-color-primary);
      }
    }
    .io-list-header {
      .io-label {
        font-family: "ubuntu", sans-serif;
        font-size:1.3rem;
        color:var(--lt-color-primary);
      }
    }
    .io-item {
      >.io-label {
          font-family: "Open sans", sans-serif;
        font-size:1rem;
        font-weight: bolder;
        color:var(--lt-color-primary);
      }
    }
  }