<section id="ctn_termsConditions">
    <div class="termConditions-section">
        <div class="termsConditions">
            <h1>Términos y Condiciones.</h1>
            <section>
                <nav>
                    <ul>
                        <h4>Indice:</h4>
                        <li>
                            <a href="#sec1">SERVICIOS OFRECIDOS</a>
                        </li>
                        <li>
                            <a href="#sec2">REGISTRO</a>
                        </li>
                        <li>
                            <a href="#sec3">OBLIGACIONES DEL USUARIO</a>
                        </li>
                        <li>
                            <a href="#sec4">
                                SANCIONES. SUSPENSIÓN Y/O CANCELACIÓN DE LA CUENTA
                                DE USUARIO
                            </a>
                        </li>
                        <li>
                            <a href="#sec5">OBLIGACIONES DE SOGAEATS</a>
                        </li>
                        <li>
                            <a href="#sec6">OBLIGACIONES DE LOS RESTAURANTES</a>
                        </li>
                        <li>
                            <a href="#sec7">
                                MODIFICACIONES DE ESTOS TÉRMINOS Y CONDICIONES
                            </a>
                        </li>
                        <li>
                            <a href="#sec8"> AUTONOMÍA. INTEGRIDAD</a>
                        </li>
                        <li>
                            <a href="#sec9">CANAL DE COMUNICACIÓN</a>
                        </li>
                        <li>
                            <a href="#sec10">
                                PROPIEDAD INDUSTRIAL Y FUNCIONAMIENTO DEL SERVICIO.
                                ENLACES
                            </a>
                        </li>
                        <li>
                            <a href="#sec11">TRATAMIENTO DE DATOS PERSONALES</a>
                        </li>
                        <li>
                            <a href="#sec12">
                                ACEPTACIÓN DE ESTOS TÉRMINOS Y CONDICIONES
                            </a>
                        </li>
                        <li>
                            <a href="#sec13">SOLUCIÓN DE CONTROVERSIAS Y LEY APLICABLE</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section>
                <p>
                    Estos términos y condiciones (en adelante, los "Términos y
                    Condiciones") regulan el uso del servicio ofrecido por
                    SogaEats ("SogaEats") que realicen las personas
                    ("Usuario/s) que ingresen al sitio web SogaEats.co (en lo
                    sucesivo, el "Sitio Web") y de nuestra aplicación para
                    dispositivos móviles (en lo sucesivo, la "App" y, de
                    manera conjunta con el Sitio Web, la "Plataforma"). La
                    aceptación de los presentes Términos y Condiciones es
                    condición indispensable para registrarse en el Plataforma
                    y acceder al servicio ofrecido. El Usuario declara haber
                    leído estos Términos y Condiciones y comprendido en su
                    integridad, y obligarse en los términos aquí previstos.
                </p>
            </section>
            <section id="sec1">
                <h3>1. SERVICIOS OFRECIDOS</h3>
                <p>
                    <strong>1.1</strong>
                    El servicio ofrecido por SogaEats a
                    través de su Plataforma (el "Servicio"), consiste en:
                </p>
                <p>
                    (i) facilitar a sus Usuarios la elección de comidas y
                    bebidas ofrecidas por los restaurantes registrados en
                    SogaEats (los "Restaurantes") mediante la publicación de
                    la información de los productos alimenticios ofrecidos por
                    dichos Restaurantes y las condiciones de su ofrecimiento.
                </p>
                <p>
                    (ii) acercar, vía on-line y a través de la Plataforma, a
                    los Usuarios y a los Restaurantes para que los primeros
                    puedan hacer pedidos y compras online de los productos
                    alimenticios ofrecidos por los Restaurantes de acuerdo con
                    el menú disponible, mediante la entrega a domicilio.
                </p>
                <p>
                    <strong>1.2</strong>
                    Con la aceptación de estos Términos y
                    Condiciones, el Usuario declara conocer y aceptar que el
                    Servicio consiste, exclusivamente, en la intermediación
                    para la comercialización de productos alimenticios y que
                    no existirá ninguna relación jurídica de compraventa entre
                    SogaEats y el Usuario con ocasión de los pedidos de dichos
                    productos que el Usuario realice a través del Plataforma
                </p>
                <p>
                    <strong>1.3</strong>
                    El Usuario declara conocer y aceptar
                    que SogaEats no participa en y que el Servicio no
                    involucra, la preparación, empaque, disponibilidad y
                    entrega física de los productos, siendo estos aspectos
                    responsabilidad íntegra del Restaurante. Por lo anterior,
                    el Usuario acepta que cualquier reclamo por problemas
                    derivados de la adición, del cumplimiento del pedido,
                    preparación y entrega de los productos alimenticios
                    adquiridos, deberá ser gestionado directamente con el
                    respectivo Restaurante
                </p>
                <p>
                    <strong>1.4</strong>
                    Teniendo en cuenta que SogaEats
                    únicamente pone a disposición una plataforma electrónica
                    para poner en contacto Usuarios y Restaurantes, SogaEats
                    no será responsable por la información que los
                    Restaurantes anuncien de sus productos ni por información
                    adicional como cantidades, disponibilidades, tiempo de
                    entrega, precios, sabores, medios y formas de pago
                    disponibles.
                </p>
                <p>
                    <strong>1.5</strong>
                    SogaEats podrá verificar que los
                    Usuarios cumplan con la edad mínima requerida por ley para
                    la compra de bebidas alcohólicas y cigarrillos. Para tal
                    efecto, SogaEats y el Restaurante se reservan el derecho
                    de solicitar el documento de identidad del Usuario al
                    momento de efectuar la entrega de los productos. En caso
                    de haber suministrado información falsa al respecto, el
                    Usuario será responsable por los perjuicios ocasionados a
                    SogaEats y al Restaurante.
                </p>
                <p>
                    <strong>1.6</strong>
                    En virtud de lo dispuesto por la
                    normatividad vigente, SogaEats y los Restaurantes informan
                    a los Usuarios que en la medida en que se trata del
                    ofrecimiento de alimentos perecederos preparados por
                    solicitud expresa de éstos, no es viable el ejercicio del
                    derecho de retracto previsto en el Artículo 47 de la Ley
                    1480 de 2011.
                </p>
            </section>
            <section id="sec2">
                <h3>2. REGISTRO</h3>
                <p>
                    <strong>2.1</strong>
                    Para utilizar el Servicio, el Usuario
                    deberá tener la capacidad jurídica para actuar, y entregar
                    la información exigida en el cuestionario requerido para
                    el registro (el "Registro").
                </p>
                <p>
                    <strong>2.2</strong>
                    El Usuario asume íntegramente la
                    responsabilidad (incluso civil y criminal) por la falta de
                    veracidad en la información ingresada en el Registro, la
                    cual podrá ser verificada en cualquier momento por
                    SogaEats. En caso que el Usuario suministre información
                    incorrecta, falsa o incompleta, y de negarse a corregirla
                    o enviar documentación que compruebe la corrección,
                    SogaEats se reserva el derecho de no concluir el Registro
                    en curso e, inclusive, de bloquear el Registro ya
                    existente, impidiendo al usuario utilizar los servicios
                    on-line hasta que, a criterio de SogaEats, la anomalía sea
                    regularizada.
                </p>
                <p>
                    <strong>2.3</strong>
                    SogaEats se reserva el derecho de
                    impedir la tentativa deliberada de eludir las reglas aquí
                    descritas, obligatorias para todos los Usuarios.
                </p>
                <p>
                    <strong>2.4</strong>
                    SogaEats también actuará de la forma
                    prevista en la Sección 2.3 anterior en caso de que
                    verifique incumplimiento de parte del Usuario de cualquier
                    obligación a su cargo prevista en estos Términos y
                    Condiciones.
                </p>
                <p>
                    <strong>2.5</strong>
                    Una vez efectuado con éxito el
                    Registro, el Usuario tendrá acceso al Servicio mediante un
                    nombre de usuario y contraseña de acceso, datos que se
                    compromete a no divulgar a terceros. El Usuario asume
                    responsabilidad exclusiva respecto de cualquier pedido
                    efectuado utilizando el nombre de usuario y contraseña
                    registrados a su nombre y asume la responsabilidad sobre
                    el uso malintencionado, temerario o inadecuado de su
                    derecho a solicitar la devolución del pago según la
                    normativa aplicable.
                </p>
            </section>
            <section id="sec3">
                <h3>3. OBLIGACIONES DEL USUARIO</h3>
                <p>
                    Con la aceptación de estos Términos y Condiciones, el
                    Usuario se obliga a:
                </p>
                <p>
                    <strong>3.1</strong>
                    Una vez realizado el Registro del
                    Usuario, no divulgar a terceros su nombre de usuario y
                    contraseña de acceso, ni permitir su uso por parte de
                    terceros, responsabilizándose por las consecuencias del
                    incumplimiento de esta obligación en los términos de la
                    Sección 2.5.
                </p>
                <p>
                    <strong>3.2</strong>
                    Proveer información de Registro
                    verídica y exacta, asumiendo exclusiva e íntegra
                    responsabilidad por todo el contenido informado en el
                    cuestionario de Registro
                </p>
                <p>
                    <strong>3.3</strong>
                    Mantener actualizada y confirmada la
                    dirección para entrega de los productos solicitados.
                </p>
                <p>
                    <strong>3.4</strong>
                    Aceptar el uso de los datos de
                    calificaciones y retroalimentaciones del servicio de los
                    Restaurantes, conforme a lo descrito en los términos de
                    privacidad de SogaEats.
                </p>
                <p>
                    <strong>3.5</strong>
                    Mantener en su información de
                    Registro, un correo electrónico válido para recibir
                    comunicaciones de SogaEats.
                </p>
                <p>
                    <strong>3.6</strong>
                    Para el trámite de pagos on-line, el
                    Usuario debe garantizar que sus datos asociados al medio
                    de pago correspondiente (por ejemplo, el número de tarjeta
                    de crédito), son de su propiedad y que tienen los fondos
                    suficientes para procesar el pago.
                </p>
                <p>
                    <strong>3.7</strong>
                    Cerciorarse al momento de la entrega
                    de los productos que los mismos corresponden con los
                    pedidos efectuados a través dela Plataforma, de manera de
                    poder formular oportunamente cualquier reclamación al
                    Restaurante respectivo.
                </p>
                <p>
                    <strong>3.8</strong>
                    Notificar a SogaEats de cualquier uso
                    no autorizado de su Registro, nombre de usuario o
                    contraseña de acceso.
                </p>
            </section>
            <section id="sec4">
                <h3>
                    4. SANCIONES. SUSPENSIÓN Y/O CANCELACIÓN DE LA CUENTA DE
                    USUARIO
                </h3>
                <p>
                    <strong>4.1</strong>
                    Se prohíbe terminantemente a los
                    Usuarios, entre otras conductas, las siguientes:
                    <br>
                    (i) publicar comentarios, opiniones, sugerencias, ideas o
                    cualquier contenido ilegal, obsceno, amenazante,
                    difamatorio o injurioso para terceros o contrario a las
                    buenas costumbres (la presente enumeración es meramente
                    ejemplificativa).
                    <br>
                    (ii) enviar archivos que contengan
                    virus o cualquier otra característica capaz de dañar el
                    funcionamiento de una computadora, del Sitio Web o del
                    sistema de esta Plataforma.
                    <br>
                    (iii) utilizar la
                    Plataforma para violar cualquier tipo de legislación
                    vigente.
                    <br>
                    (iv) consignar datos falsos al momento de
                    registrarse o realizar una compra o en cualquier otro
                    momento en que les sea requerida cualquier tipo de
                    información o de Datos Personales.
                    <br>
                    (v) usar
                    programas, software o aparatos automáticos o manuales para
                    monitorear o copiar la información o cualquier tipo de
                    contenido del Sitio Web o del App.
                    <br>
                    (vi) accionar o usar dispositivos, software u otro medio
                    tendiente a interferir tanto en las actividades y
                    operatoria de SogaEats como en las ofertas, descripciones,
                    cuentas o bases de datos de SogaEats, entre otros.
                </p>
                <p>
                    <strong>4.2</strong>
                    Todo tipo de actividades en
                    contravención a estos Términos y Condiciones será
                    investigado y el infractor podrá ser sancionado con la
                    suspensión o cancelación de su inscripción como Usuario
                    y/o de cualquier otra forma que a exclusivo criterio de
                    SogaEats estime pertinente, sin perjuicio de las acciones
                    legales a que pueda dar lugar por la configuración de
                    delitos o contravenciones o los perjuicios civiles que
                    pueda causar a los Usuarios o al Plataforma.
                </p>
                <p>
                    <strong>4.3</strong>
                    El Usuario indemnizará y mantendrá
                    indemne a SogaEats, sus filiales, empresas controladas y/o
                    controlantes, directivos, administradores, representantes
                    y empleados, por cualquier reclamo o demanda de otros
                    Usuarios o terceros por las actividades del Usuario y/o
                    sus directivos y/o administradores y/o representantes y/o
                    empleados y/o agentes en la Plataforma o por su
                    incumplimiento a los Términos y Condiciones que se
                    entienden incorporados al presente o por la violación de
                    cualesquiera leyes o derechos de terceros, incluyendo los
                    honorarios de abogados en una cantidad razonable.
                </p>
            </section>
            <section id="sec5">
                <h3>5. OBLIGACIONES DE SogaEats</h3>
                <p>
                    <strong>5.1</strong>
                    Poner a disposición un espacio
                    virtual que le permita a los Usuarios hacer pedidos de
                    compra de productos alimenticios anunciados y
                    comercializados por los Restaurantes. Poner a disposición
                    del Usuario los medios para pagar el valor de los
                    productos, sujeto a la aceptación de los mismos por parte
                    del Restaurante.
                </p>
                <p>
                    <strong>5.2</strong>
                    Proveer la interfaz e infraestructura
                    de la Plataforma para que los Restaurantes cumplan con las
                    obligaciones contenidas en el numeral quinto.
                </p>
                <p>
                    <strong>5.3</strong>
                    Previo al cierre de la transacción,
                    presentar al Usuario un resumen de todos los productos
                    seleccionados. Dicho resumen incluirá una descripción de
                    cada uno de los productos seleccionados en el sitio del
                    Restaurante, precio individual por unidad y número de
                    unidades, precio total de la transacción, costos y gastos
                    adicionales, si los hubiere.
                </p>
                <p>
                    <strong>5.4</strong>
                    Proteger a través de servidores de
                    almacenamiento o cualquier otro medio magnético de alta
                    seguridad, la confidencialidad de toda la información y
                    Registro relacionado con los Usuarios, así como los
                    valores correspondientes a las transacciones financieras
                    derivadas del uso del Servicio previsto en este acuerdo.
                    No obstante, SogaEats no responderá por la reparación de
                    los daños que puedan derivarse de la aprehensión o
                    falsificación de datos por parte de terceros que accedan a
                    esta información de manera fraudulenta, no autorizada o
                    rompiendo los controles de seguridad establecidos. En
                    cumplimiento de la ley aplicable, SogaEats reportará tales
                    eventos (incidentes de seguridad y/o fugas de información)
                    a las autoridades competentes y a los Usuarios.
                </p>
                <p>
                    <strong>5.5</strong>
                    Disponer de mecanismos para que los
                    Usuarios puedan radicar peticiones, quejas y reclamos, de
                    tal forma que les quede constancia de la fecha y hora de
                    la radicación, incluyendo un mecanismo para su posterior
                    seguimiento.
                </p>
            </section>
            <section id="sec6">
                <h3>6. OBLIGACIONES DE LOS RESTAURANTES</h3>
                <p>
                    <strong>6.1</strong>
                    Poner a disposición de los Usuarios y
                    mantener actualizada información cierta, suficiente y
                    clara sobre los productos alimenticios que ofrezcan, que
                    comprenderá información sobre calidades, características,
                    cantidades y presentaciones disponibles, de tal manera que
                    los Usuarios puedan conocer con exactitud los productos
                    adquiridos.
                </p>
                <p>
                    <strong>6.2</strong>
                    Incluir imágenes de los productos
                    ofrecidos que reflejen la realidad de los productos que se
                    entregarán.
                </p>
                <p>
                    <strong>6.3</strong>
                    Presentar el precio de los productos
                    ofrecidos por los Restaurantes incluyendo todos los
                    posibles recargos por impuestos, adiciones, servicio de
                    domicilio, etc., y cualquier otro concepto aplicable,
                    discriminando cada uno de dichos conceptos
                </p>
                <p>
                    <strong>6.4</strong>
                    Indicar los medios de pago que
                    aceptan.
                </p>
                <p>
                    <strong>6.5</strong>
                    Mantener un registro de cada una de
                    las transacciones cerradas con los Usuarios que dé cuenta
                    de(i) la forma de pago, (ii) la entrega de los productos
                    pedidos. Dicho registro deberá ser protegido a través de
                    servidores de almacenamiento o cualquier otro medio
                    magnético de alta seguridad que garantice la
                    confidencialidad de toda la información. Los colaboradores
                    de los Restaurantes y cualquier tercero que se involucrado
                    en el tratamiento de la información deberán estár sujetos
                    obligaciones de confidencialidad. En cumplimiento de la
                    ley aplicable, SogaEats reportará tales eventos
                    (incidentes de seguridad y/o fugas de información) a las
                    autoridades competentes y a los Usuarios.
                </p>
            </section>
            <section id="sec7">
                <h3>7. MODIFICACIONES DE ESTOS TÉRMINOS Y CONDICIONES</h3>
                <p>
                    <strong>7.1</strong>
                    Los presentes Términos y Condiciones
                    de uso del Servicio, podrán ser modificados en cualquier
                    momento, total o parcialmente, con el fin de mejorar el
                    Servicio. Es responsabilidad de los Usuarios revisar los
                    Términos y Condiciones y las eventuales modificaciones que
                    SogaEats haga a los mismos.
                </p>
                <p>
                    <strong>7.2</strong>
                    Las modificaciones a los presentes
                    Términos y Condiciones serán efectivas tan pronto como
                    sean publicadas en el Plataforma, todo Usuario que no esté
                    de acuerdo con estos las modificaciones efectuadas a los
                    presentes Términos y Condiciones deberá abstenerse de
                    acceder, utilizar o registrarse en el Plataforma y podrá
                    manifestar su oposición a cualquiera de los términos
                    modificados, por escrito y a través de la Plataforma,
                    oposición que generará la cancelación de su Registro.
                </p>
            </section>
            <section id="sec8">
                <h3>8. AUTONOMÍA. INTEGRIDAD</h3>
                <p>
                    <strong>8.1</strong>
                    La declaración de nulidad, invalidez
                    o ineficacia de cualquiera de las cláusulas o condiciones
                    de estos Términos y Condiciones no afectará la validez o
                    eficacia de las restantes, que seguirán siendo
                    completamente efectivas y vinculantes para las partes.
                </p>
            </section>
            <section id="sec9">
                <h3>9. CANAL DE COMUNICACIÓN</h3>
                <p>
                    <strong>9.1</strong>
                    Para establecer contacto entre
                    SogaEats y el Usuario, se pone a disposición la sección
                    "Contacto" en el sitio web, así como también en la
                    aplicación móvil.
                </p>
                <p>
                    <strong>9.2</strong>
                    El Usuario está obligado a mantener
                    en su información de Registro un correo electrónico de
                    notificaciones. El envío de comunicaciones por parte de
                    SogaEats a dicho correo electrónico, tendrá plena validez
                    jurídica y efectividad como medio de intercambio de
                    información recíproca.
                </p>
            </section>
            <section id="sec10">
                <h3>
                    10. PROPIEDAD INDUSTRIAL Y FUNCIONAMIENTO DEL SERVICIO.
                    ENLACES.
                </h3>
                <p>
                    <strong>10.1</strong>
                    Todos los derechos del sitio web así
                    como también de la aplicación móvil, y sobre cualquier
                    contenido del mismo están reservados y corresponden a
                    SogaEats. El sitio web y la aplicación móvil son obras
                    compuestas por elementos integrados e inseparables
                    (incluyendo aunque no limitado a los contenidos de las
                    pantallas relativas así como también los programas, bases
                    de datos, redes, archivos, logos, gráficos, ilustraciones,
                    fotografías, marcas, diseños, música, videos, texto,
                    código HTML como asimismo todo el diseño en general) cuya
                    propiedad pertenece a SogaEats o a terceros de los cuales
                    SogaEats recibió las correspondientes licencias o
                    autorizaciones. Todo ello se encuentra protegido por la
                    legislación nacional e internacional en materia de
                    propiedad intelectual e industrial, derecho de autor,
                    marcas, patentes, modelos y diseños industriales, entre
                    otros. El uso indebido y la reproducción total o parcial
                    de dichos contenidos quedan prohibidos, salvo autorización
                    expresa y por escrito de SogaEats.
                </p>
                <p>
                    <strong>10.2</strong>
                    Usuario declara conocer y aceptar
                    que dichos contenidos sólo podrán ser usados para fines
                    personales, que no podrán ser copiados, vendidos o
                    modificados, y que cualquier uso no autorizado constituirá
                    una violación de las leyes de derechos de autor y
                    propiedad industrial vigentes en Colombia.
                </p>
                <p>
                    <strong>10.3</strong>
                    El software asociado al Servicio y
                    la Plataforma es de propiedad de SogaEats y/o de sus
                    compañías afiliadas. En consecuencia, el Usuario acepta
                    abstenerse de copiar o adaptar el código de generación del
                    Plataforma así como de violar cualquier sistema o red de
                    seguridad de SogaEats o de cualquier manera interferir con
                    el adecuado funcionamiento del Servicio.
                </p>
                <p>
                    <strong>10.4</strong>
                    SogaEats se reserva el derecho de
                    interrumpir, suspender, discontinuar o modificar en
                    cualquier momento cualquier herramienta asociada a los
                    servicios del Plataforma, ya sea en forma permanente o
                    transitoria, sin que sea necesario conformidad previa o
                    aviso alguno a los Usuarios. SogaEats no garantiza el
                    acceso y/o uso del Plataforma por lo que el Usuario acepta
                    y reconoce que el sistema puede no siempre estar
                    disponible debido a dificultades técnicas y/o fallas de
                    Internet, y/o por cualquier otro motivo ajeno al
                    Plataforma, que no generarán responsabilidad de SogaEats.
                </p>
                <p>
                    <strong>10.5</strong>
                    Interrupción del servicio: Fallas
                    del sistema: Ataques de terceros: queda a exclusivo riesgo
                    de los Usuarios el uso de la Plataforma. Ninguna otra
                    persona o empresa vinculado a la creación, producción o
                    desarrollo del Plataforma será responsable por ninguna
                    clase de daños que puedan resultar de ese uso así como
                    tampoco serán responsables de cualquier daño que pudiera
                    sufrir el Usuario en su equipo de computación u otro, o
                    por cualquier virus que pueda infectarlo, como
                    consecuencia del uso del Plataforma.
                </p>
                <p>
                    <strong>10.6</strong>
                    Los Usuarios otorgan a favor de
                    SogaEats una autorización de uso gratuita, no exclusiva,
                    perpetua, transferible e irrevocable sobre los
                    comentarios, opiniones, sugerencias, ideas, preguntas o
                    cualquier otro contenido ingresado por el Usuario en la
                    Plataforma (Contenidos de Usuario) para utilizar,
                    reproducir, modificar, adaptar, publicar, traducir o
                    generar obras derivadas de dichos Contenidos de Usuario,
                    en forma total o parcial y por cualquier medio. A tal fin,
                    los Usuarios garantizan que son los propietarios de sus
                    opiniones, que el contenido es preciso y que el uso del
                    contenido que provea no viola lo dispuesto en la presente
                    cláusula ni la normativa aplicable ni causa perjuicio a
                    ninguna persona o entidad; y que mantendrán indemnes a
                    SogaEats por cualquier reclamo resultante del contenido
                    provisto. SogaEats tiene el derecho pero no la obligación
                    de supervisar, editar o eliminar cualquier actividad o
                    contenido. SogaEats no tiene responsabilidad y no asume
                    ninguna obligación por cualquier contenido publicado por
                    ningún Usuario o terceros, ni asume la obligación de
                    publicarlo ni de dejarlo en el Plataforma.
                </p>
                <p>
                    <strong>10.7</strong>
                    El Plataforma puede contener enlaces
                    a otros sitios web y referencias a nombres, marcas,
                    productos o servicios de terceros, como asimismo los
                    avisos publicitarios, aplicaciones, lo cual no indica que
                    sean propiedad u operados por SogaEats y de ninguna manera
                    constituyen o implican respaldo, patrocinio, asociación
                    y/o recomendación por parte del Plataforma respecto de
                    dichos terceros, su información, productos o servicios.
                    Cuando el Usuario hace click e ingresa en otros sitios que
                    no pertenecen a SogaEats, estará sujeto a los términos y
                    condiciones de dichos sitios. En virtud de que SogaEats no
                    tiene control sobre las prácticas y políticas de tales
                    sitios, ni edita o controla su contenido, no será
                    responsable ni brinda garantía por los contenidos,
                    materiales, acciones y/o servicios prestados por los
                    mismos, ni por daños o pérdidas ocasionadas por la
                    utilización de los mismos, sean causadas directa o
                    indirectamente.
                </p>
                <p>
                    <strong>10.8</strong>
                    Se autoriza el establecimiento de
                    hipervínculos, links o enlaces hacia esta Plataforma desde
                    otras páginas o sitios web, siempre que los mismos no se
                    hagan de forma que perjudiquen la imagen, marcas y/o
                    propiedad intelectual de SogaEats o de cualquier persona a
                    la que la Plataforma haga referencia. Queda expresamente
                    prohibido el establecimiento de hipervínculos, links o
                    enlaces desde páginas o sitios web que promuevan o
                    contengan comentarios o elementos de cualquier tipo
                    violentos, discriminatorios, pornográficos, ilegales,
                    obscenos, abusivos, difamatorios, injuriosos o contrarios
                    a la moral o las buenas costumbres (la presente
                    enumeración es meramente ejemplificativa). En la creación
                    de hipervínculos, enlaces o links queda expresamente
                    prohibida la utilización de elementos extraídos de la
                    Plataforma sin el consentimiento previo y expreso de
                    SogaEats.
                </p>
            </section>
            <section id="sec11">
                <h3>11. TRATAMIENTO DE DATOS PERSONALES</h3>
                <p>
                    <strong>11.1</strong>
                    Para efectos del Registro y la
                    operación del Servicio, SogaEats recolectará y tratará
                    algunos datos personales de los Usuarios. Dicho
                    tratamiento se llevará a cabo en los términos y
                    condiciones previstos en la Política de Privacidad.
                </p>
                <p>
                    <strong>11.2</strong>
                    Con la aceptación de los presentes
                    Términos y Condiciones, el Usuario declara su aceptación
                    previa y expresa para el tratamiento de sus datos
                    personales en los términos y condiciones previstos en la
                    Política de Privacidad.
                </p>
            </section>
            <section id="sec12">
                <h3>12. ACEPTACIÓN DE ESTOS TÉRMINOS Y CONDICIONES</h3>
                <p>
                    <strong>12.1</strong>
                    Con la aceptación de estos Términos
                    y Condiciones, el Usuario declara haber leído, entendido y
                    aceptado todas las reglas, condiciones y obligaciones
                    establecidas en los mismos. SogaEats se reserva el derecho
                    de suspender o cancelar definitivamente el Registro y/o
                    prohibir el uso futuro del Servicio a Usuarios que hayan
                    incumplido lo previsto en estos Términos y Condiciones.
                </p>
            </section>
            <section id="sec13">
                <h3>13. SOLUCIÓN DE CONTROVERSIAS Y LEY APLICABLE</h3>
                <p>
                    <strong>13.1</strong>
                    Cualquier controversia derivada de
                    los presentes Términos y Condiciones de Uso o de la
                    utilización efectiva del Servicio, será resuelta por un
                    tribunal arbitral compuesto por un árbitro, que funcionará
                    de conformidad con las reglas del Centro de Conciliación y
                    Arbitramento de la Cámara de Comercio de Sogamoso.
                </p>
            </section>
        </div>
    </div>
    <div class="button-section flex-one bt-unique" *ngIf="onlyRead===false">
        <ion-button type="submit" class="button-ia size-big shadow-out" shape="round">
            <label>Acepto los terminos y condiciones</label>
        </ion-button>
    </div>
    <div class="info-section">
        <div class="capsule-info-bottom info-double">
            <ion-button type="button" class="button-ia size-small style-gray" fill="clear" shape="round">
                <label>Leer los terminos y condiciones</label>
            </ion-button>
            <ion-button type="button" class="button-ia size-small style-gray" fill="clear" shape="round" (click)="prevElement()">
                <label>Volver</label>
            </ion-button>
        </div>
    </div>
</section>