@import "../abstracts/url";
/*#region//*CONTENEDORES DE PRUEBA*/
form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
  //*
  padding: 20px;
  margin: 20px auto;
}
.stg-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem;
}
/*#endregion*/

/*#region//*BOTONES*/
.bt-one {
  margin: 0.3em;
  transform: scale(1);
  position: relative;
  z-index: 1;
  height: min(3.5rem, 3.5rem);
  background: none;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
  //#primario
  &.main {
    font-family: "ubuntu", sans-serif;
    font-weight: bold;
    color: white;
    background: color(bt-main);
    font-size: 1em;
    padding: 0 20px;
    &:hover {
      background: color(bt-mainHv);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    &.small {
      font-size: 0.95rem;
      height: 2.5rem;
    }
  }
  //#secundario
  &.minor {
    font-family: "open sans", sans-serif;
    border: 1px solid color(bt-lt-minor);
    color: color(bt-lt-minor);
    font-size: 1em;
    padding: 0 20px;
    &:hover {
      border: 1px solid color("bt-bdHv-minor");
      background: color("bt-bgHv-minor");
      color: color("bt-ltHv-minor");
    }
    &.small {
      font-size:0.95rem;
      height: 2.5rem;
    }
    &.shadow {
      border: 1px solid transparent;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
  }
  //#icon
  &.icon {
    width: 3.5rem;
    color: color(bt-lt-icon);
    border-radius: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &:hover {
      color: color(bt-ltHv-icon);
    }
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 1.7rem;
    }
    &.big {
      height: 3.5rem;
      width: 3.5rem;
    }
    &.small {  
      height: 2.5rem;
      width: 2.5rem;
      >span{
        font-size:1.4rem;
      }
    }
    &.line {
      color: color(bt-lt-minor);
      border: 1px solid color(bt-lt-minor);
      box-shadow: none;
      &:hover {
        color:color(bt-ltHv-minor);
        border: 1px solid color(bt-ltHv-minor);
      }
    }
  }
}
/*#endregion*/
//#agregar icon
.add-icon {
  &.right {
    > span {
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
  &.left {
    > span {
      font-size: 1.5rem;
      margin-right: 10px;
    }
  }
}
