@use '/src/assets/scss/mixin' as mixin;

//#region - Header
ion-header {
  // box-shadow: none;

}

ion-toolbar {
  // ionic
  --padding-top: 0.625rem;
  --padding-bottom: 0.625rem;
  --padding-start: 1.25rem;
  --padding-end: 1.25rem;
  // --background:transparent;
  // --background: #000;
  // height:4.25rem;

}

.container-toolbar {
  display: grid;
  grid-template-areas: "sideleft_  main_  sideright_";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  column-gap: 0.625rem;

  .main-header {
    // background: rgb(255, 195, 195);
    grid-area: main_;
    width: 100%;
    max-width: 620px;
  }

  .side-left-header {
    // background: rgb(197, 255, 189);
    grid-area: sideleft_;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .side-right-header {
    // background: rgb(185, 245, 255);
    grid-area: sideright_;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
  }
}

ion-avatar {
  cursor: pointer;
  // background: #000;
  overflow: hidden;
}

//#endregion
//#region - Breakpoints
@include mixin.mediaquery(720px) {
  .break720 {
    display: none;
  }
}

//#endregion