<ion-header>
  <ion-toolbar>
    <div class="container-toolbar">
      <div class="main-header">
        <app-search-main></app-search-main>
      </div>
      <div class="side-right-header">
        <ion-button class="bt-io multiline fill-clear size-l break720">
          <div class="wrapper-txt">
            <span class="line-primary">Ingresa tu</span>
            <span class="line-secondary">Ubicacion</span>
          </div>
        </ion-button>
        <ion-button class="bt-io multiline fill-clear size-l break720" routerLink="/registro">
          <div class="wrapper-txt">
            <span class="line-primary">Logueate o </span>
            <span class="line-secondary">Registrate</span>
          </div>
        </ion-button>
        <ion-button class="bt-icon fill-clear  shape-rounded size-m break720">
          <span class="material-symbols-outlined icon">notifications</span>
        </ion-button>
        <app-button-cart></app-button-cart>
      </div>
      <div class="side-left-header">
        <ion-avatar class="bt-icon size-l shadow">
          <img src="../../assets/img/utils/logo.png" alt>
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>