<div class="stand-section size-chart-product">
  <h3 class="title">tabla de tallas</h3>
  <div class="guide">
    <div class="text">
      Tree Tree Gliders come in half sizes to ensure the perfect fit for your run. They fit true to size
      for
      most customers. If you prefer a roomier fit in the toe box, we suggest going up a half size.
      <br>
      Did you know that our shoes are actually unisex? You can easily cross over to find shoes in your
      size.
    </div>


  </div>
  <div class="table">
    <span class="title">Tabla de Tallas</span>
    <table>
      <thead>
        <tr>
          <th>US</th>
          <th>cm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
        <tr>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
        <tr>
          <th>8</th>
          <th>24</th>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="guide">
    <div class="text">
      <div class="title">Asi es como funciona:</div>

      <p>
        Sobre un papel, dibuja el contorno de tus pies descalzos. Mide desde el dedo más largo hasta la altura del
        talón. Súmale 0,5 cm de holgura.
      </p>
    </div>
    <div class="image">
      <img src="https://d26lpennugtm8s.cloudfront.net/stores/126/578/rte/pie%20tallas%201.svg" alt="">
      <!-- <img src="https://recykers.com/img/cms/como-tomar-medida-para-saber-tu-talla-de-zapato.jpg" alt=""> -->
    </div>
  </div>
</div>
