<!-- <div class="container full"> -->
<div class="modulo type-clear">
  <div class="head-modulo">
    <div class="head-component margin-unset display-nowrap">
      <div class="title-section">
        <h6 class="title">Tendencias</h6>
        <h6 class="subtitle">Subtitulo</h6>
      </div>
      <div class="logo-section">
        <ion-button class="button-io fill-icon-gray">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="body-modulo" #container>
    <!-- <ng-content> -->
      <swiper-container init="false" #swiper>
        <swiper-slide *ngFor="let item of dataModulo">
          <app-card-light [item]="item"></app-card-light>
        </swiper-slide>
      </swiper-container>
    <!-- </ng-content> -->
  </div>
</div>
<!-- </div> -->