
<!-- #region Component -->
<div class="modulo type-slide  separator">
  <!-- *head -->
  <div class="head-modulo">
    <div class="head-component margin-unset display-nowrap">
      <div class="title-section" *ngIf="stateComponent, else titleSK" @fadeInOut>
        <h6 class="title margin-unset">{{title}}</h6>
        <h6 class="subtitle margin-unset">{{subtitle}}</h6>
      </div>
      <ng-template #titleSK>
        <div class="title-section skeleton">
          <h6 class="title ">
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </h6>
          <h6 class="subtitle margin-unset">
            <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
          </h6>
        </div>
      </ng-template>
      <div class="button-section" [ngClass]="{'visible': stateComponent, 'invisible': !stateComponent}" >
        <ion-button class="btn-icon fill-solid-second shape-round size-m {{prefix}}-prev">
          <mat-icon svgIcon="chevron_left"></mat-icon>
        </ion-button>
        <ion-button class="btn-icon fill-solid-second shape-round size-m {{prefix}}-next">
          <mat-icon svgIcon="chevron_right"></mat-icon>
        </ion-button>
      </div>
      <div class="button-section" [ngStyle]="{'display':stateComponent? 'none':'flex'}" @fadeInOut>
        <ion-skeleton-text [animated]="true" class="btn-icon  shape-round size-m"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" class="btn-icon  shape-round size-m"></ion-skeleton-text>
      </div>
    </div>
  </div>
  <!-- *body-swiper -->
  <div class="body-modulo" #container>
    <swiper-container init="false" #swiper>
      <swiper-slide *ngFor="let item of items">
        <app-card-light [item]="item"></app-card-light>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
<!-- #endregion Component -->
<!-- !NOTA: EL SKELETON DE SWIPER VA DENTRO DEL COMPONETE -->