<!-- <div class="container full"> -->
<div class="modulo bg-none">
  <div class="head-modulo">
    <div class="head-component margin-unset display-nowrap">
      <div class="title-section">
        <h5 class="title">Tendencias</h5>
        <h6 class="subtitle">Subtitulo</h6>
      </div>
      <div class="logo-section">
        <ion-button class="button-io fill-icon-gray">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="body-modulo bg-none">
    <ng-content >
      <swiper-container #swiper>
        <swiper-slide *ngFor="let item of dataModulo">
          <app-card-light [item]="item"></app-card-light>
        </swiper-slide>
      </swiper-container>
    </ng-content>
  </div>
</div>
<!-- </div> -->