.ng-touched.ng-invalid:is(.input-component input),
.ng-dirty.ng-invalid:is(.input-component input) {
  border-color: var(--ion-color-warning);
  box-shadow: none;
  &:focus {
    border-color: var(--ion-color-warning);
  }
}