$primary:#0E62BE;
$warning:rgb(236,91,98);
//modulos
$radius-button:30px;
$radius-primary: 20px;
//text
$color-primary:rgb(50,50,50);
//placeholder
// $placeholder:#D3D3D3;
$placeholder: rgb(211,211,211);
//buton 
//border
$border:#C7C7C7;
$border-button-gray:rgb(234,234,234);

