<div class="inputs-section component" [formGroup]="form">
  <div class="input-component shape-round label-static" [ngClass]="{'isInvalid':controlState(emailControl)}">
    <input type="text" formControlName="email" (blur)="onTouched()" />
    <label>Correo Electronico</label>
    <app-msg-error [forControl]="emailControl"></app-msg-error>
  </div>
  <div class="input-component shape-round label-static" [ngClass]="{'isInvalid':controlState(passControl)}">
    <input type="password" formControlName="password" (blur)="onTouched()" #inputPass/>
    <label>Contraseña</label>
    <ion-button class="button-io shape-icon fill-none" (click)="toggle(inputRef)">
      <ion-icon slot="icon-only" [name]="iconEye"></ion-icon>
    </ion-button>
    <app-msg-error [forControl]="passControl"></app-msg-error>
  </div>
</div>