<!-- #CARD-MINI -->
<div class="card-mini" (click)="goToDetail(itemCard.id)">
<!-- <div class="card-mini" (click)="sendItem()"> -->
<!-- <div class="card-mini" (click)="onEventSend(itemCard.id)"> -->
    <!-- <div class="card-mini" (click)="openModal(itemCard.id)"> -->
    <div class="img-section-card">
        <img src="{{itemCard.image}}" alt="imagen product">
    </div>
    <div class="info-section-card">
        <div class="bx-name">
            <h5>{{itemCard.title}}</h5>
        </div>
        <div class="bx-price">
            <p class="price">{{itemCard.price | currency }}</p>
            <p class="oldprice">$117.777</p>
        </div>
    </div>
    <div class="float-section-card">
        <button>
            <span class="icon-add400"></span>
        </button>
    </div>
</div>
<!-- #FIN CARD-ITEN -->
