<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="../assets/sass/components/shared.css">
        <title>Buttons</title>
        <style>
        body {
            background: rgb(238, 238, 238)
        }
        .button-io {
            max-width: 720px;
            margin: 2rem;
        }
        </style>
    </head>
    <body>
        <button class="button-io style-main shape-round size-large long-medium">CheckOut</button>
        <button class="button-io style-main shape-round size-medium">CheckOut</button>
        <button class="button-io style-main shape-icon"></button>
        <button class="button-io style-line shape-round size-medium">CheckOut</buton>
        <button class="button-io style-none shape-round size-medium">CheckOut</button>
        <button class="button-io style-line size-large shape-round long-medium">
            <img src="../assets/img/google-thumbnail.png" alt="">
            Registrarse con Google
        </button>
    </body>
</html>
