<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="../assets/sass/components/shared.css">
        <title>Document</title>
        <style>
        .head-component{
            max-width: 720px;
            margin:2rem auto;
        }
        </style>
    </head>
    <body style="background:rgb(238, 238, 238)">
        
        <!-- Component -->
        <div class="head-component border">
            <div class="title-section">
                <h2 class="title">Login</h2>
                <p class="subtitle">Hola te damos la bienvenida a Soga</p>
            </div>
            <div class="logo-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK9KHQfSY-Wc8NK5cwfWz4URe57Lt_ugA2dAW9GJGmdQ&s" alt="logo-tienda">
            </div>
        </div>
        <!--  -->
    </body>
</html>
<!-- 
<div class="title-section">
    <div class="capsule-title">
      <div class="title-section">
        <h1 class="text-center">Iniciar Sesion</h1>
        <h5 class="text-center">Bienvenido de vuelta a SogaEats.</h5>
      </div>
    </div>
  </div>
-->
<!--
    <div class="capsule-title">
                        <div class="title-section">
                            <h1>Orden N° 5698123</h1>
                            <h6>Almacenes Nike</h6>
                        </div>
                        <div class="logo-section">
                            <div class="bx-logo">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK9KHQfSY-Wc8NK5cwfWz4URe57Lt_ugA2dAW9GJGmdQ&s"
                                    alt="logo-tienda" />
                            </div>
                        </div>
                    </div>
                  -->
