<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="../assets/sass/components/shared.css">
        <title>Document</title>
        <style>
        body{
            background:rgb(238, 238, 238)
        }
        </style>
    </head>
    <body>
        <!-- round -->
        <div class="input-component shape-round text-big shadow">
            <input type="text">
            <label>Telefono</label>
            <button type="button" class="icon"></button>
        </div>
        <!--  -->
        <br>
        <!-- line -->
        <div class="input-component shape-line">
            <input type="text">
            <label>Nombre</label>
            <button type="button" class="icon"></button>
        </div>
        <div class="input-component shape-line">
            <input type="text">
            <label>Apellidos</label>
            <button type="button" class="icon"></button>
        </div>
        <!--  -->
        <br>
        <!-- square -->
        <div class="input-component shape-square icon">
            <input type="text">
            <label>Dirección</label>
            <button type="button" class="icon"></button>
        </div>
        <!--  -->
           <!-- square -->
           <div class="input-component shape-square icon">
            <input type="text" placeholder="Ubicación">
            <button type="button" class="icon"></button>
        </div>
        <!--  -->
        <script>

            const inputs = document.querySelectorAll(".input-component");
            inputs.forEach(function(input) {
                input.addEventListener('click', function() {
                    console.log("Hola");
                    input.classList.add('label-active');
                });
            });
        </script>
    </body>
</html>
