<app-header-minor></app-header-minor>
<ion-content [fullscreen]="true">
    <div class="container">
        <!-- <ion-button class="button-ia style-secondary shadow-out" shape="round"
            (click)="toggleItemsHidden()"><span>{{showItems? "Mostrar":"Ocultar"}}</span>
        </ion-button> -->
        <div class="modulo center">
            <ng-container *ngIf="itemsInCart$ | async; else noCart">
                <div class="head-modulo">
                    <div class="capsule-title">
                        <div class="title-section">
                            <h1>Orden N° 5698123</h1>
                            <h6>Almacenes Nike</h6>
                        </div>
                        <div class="logo-section">
                            <div class="bx-logo">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK9KHQfSY-Wc8NK5cwfWz4URe57Lt_ugA2dAW9GJGmdQ&s"
                                    alt="logo-tienda" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-modulo cart-areas">
                    <div class="wraper grid-one" id="area-cart-item" *ngIf="showItems">
                        <app-cart-item *ngFor="let item of shoppingCart$ | async" [itemCart]="item"
                            (itemCartOut)="removeItemCart(item)"></app-cart-item>
                    </div>
                    <div class="wraper" id="area-checkout">
                        <!-- #region-CHECKOUT -->
                        <div class="checkout-cart">
                            <div class="option-section">
                                <ion-radio-group class="radio-group-cart" value="strawberries">
                                    <ion-radio class="radio-cart" value="grapes" labelPlacement="end">Home
                                        Delivery</ion-radio>
                                    <ion-radio class="radio-cart" value="strawberries" labelPlacement="end">Click &
                                        Collect</ion-radio>
                                </ion-radio-group>
                            </div>
                            <div class="info-price-section">
                                <table>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td>$7500</td>
                                    </tr>
                                    <tr>
                                        <td>Domicilio</td>
                                        <td>$5000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="total-price-section">
                                <table>
                                    <tr>
                                        <td>Total</td>
                                        <td>${{totalPrice$ | async}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="button-section">
                                <ion-button class="button-ia long-full shadow-out" shape="round" fill="solid">
                                    <span>Checkout</span>
                                </ion-button>
                            </div>
                            <div class="footer-section">
                                Compra segura, puede eer los terminos y condiciones y politica
                                del servicio
                            </div>
                        </div>
                        <!-- #endregion-CHECKOUT -->
                    </div>
                </div>
            </ng-container>
            <ng-template #noCart>
                <h4>No tienes elementos</h4>
            </ng-template>
        </div>
    </div>
</ion-content>