:root {
  //#region ion variables
  --ion-color-primary: rgb(35, 118, 241);
  --ion-color-warning: rgb(236, 91, 98);
  //#endregion
  //#region --- BASE VAR ---
  //*Colors
  //gray
  --gray-i: rgb(241, 244, 246); //inputs(bg-bd) - buttons(bg)
  --gray-ii: rgb(131, 142, 157); // inputs(label) -search
  --gray-iii: rgb(126, 137, 153); //headline(subtitle) - --gray-regular
  ////--gray-iv:rgb(87, 86, 86);//deshuso
  --gray-iv:rgb(240,243,245);//modulo(background) - button(background)
  --gray-v: rgb(141, 141, 141); //opcional para --gray-iii
  --gray-old: rgb(155, 155, 155);
  
  //color-regular
  --black-regular: rgb(34, 37, 41);
  --white-regular: white;
   //*font-size
   --ft-sz-l: 1.5rem;
   --ft-sz-m: 1rem;
   --ft-sz-s: 0.9rem;
   --ft-sz-xs: 0.85rem;
   --ft-sz-xxs: 0.8rem;
  //*Padding
  --pdd-xl: 2rem;
  --pdd-l: 1.25rem;
  --pdd-m: 0.625rem;
  --pdd-s: 0.3125rem;
  //*radius
  --radius-square: 8px;
  --radius-i: 15px;//cards
  --radius-ii: 20px;//modulos
  --radius-iii: 30px;//inputs-buttons
  //*Shadows
  --shadow-5: rgba(0, 0, 0, 0.24) 0px 3px 8px; //5 modulo
  --shadow-6: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;//6 search
  --shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px; //3 hover
  //*size (Buttons-inputs)
  --size-xl: 3.5rem;
  --size-l: 3rem;
  --size-m: 2.5rem;
  --size-s: 2rem;
  //*Width
  --base-width: min(720px, 100%);
  //#endregion
  //#region --- COMPONENTS ----
  //*Button
  --btn-pdd: 0 var(--pdd-l);
  --btn-radius:var(--radius-iii);
  //style
  --btn-solid-second-bg: var(--gray-i);
  --btn-color-gray: var();
  --btn-solid-second-bg: var(--gray-i);
  --btn-solid-second-cl: var(--black-regular);
  //icon
  --btn-icon-sz-m:var(--ft-sz-l);
  --btn-icon-mg:0.625rem;
  //*card-mini
  --card-mini-bg: var(--white-regular);
  --card-mini-width: min(12rem, 12rem);
  --card-mini-height: min(16.65rem, 16.65rem);
  --card-mini-bx-shadow: var(--shadow-6);
  --card-mini-bx-shadow-hv: var(--shadow-3);
  --card-mini-bd-radius: var(--radius-i);
  --card-mini-img-section-pdd: var(--radius-i) var(--radius-i) 0 0;
  --card-mini-img-section-hg:10rem;
  --card-mini-img-pdd:var(--pdd-s);
  --card-mini-img-radius:var(--radius-i);
  --card-mini-info-section-pdd: var(--radius-i);
  --card-mini-bxname-hg: min(2.9rem, 2.9rem);
  --card-mini-bxname-pdd: 0.2rem 0 0 0;
  --card-mini-bxprice-hg: 1.4rem;
  --card-mini-bxprice-pdd: 4px 0 0 2px;
  //*card-light
  --card-light-width: min(9rem, 9rem);
  --card-light-height: min(13.5rem, 13.5rem);
  --card-light-img-height: 12rem;
  --card-light-bd-radius: var(--radius-square);
  --card-light-bx-shadow: var(--shadow-6);
  //*Headline
  --headline-hg:min(3rem,content);
  --headline-logo-hg:min(3.5rem,3.5rem);
  --headline-sz-h1:"";//2rem
  --headline-sz-h2:"";//1.5rem
  --headline-sz-h3:"";//1.17rem
  --headline-sz-h4:"";//1rem
  --headline-sz-h5:"";//0.83rem
  --headline-sz-h6:"";//0.67rem
  --headline-title-cl: var(--black-regular);
  --headline-subtitle-cl: var(--gray-iii);
  //*Input
  --input-label: var(--gray-ii);
  // --input-solid: var(--gray-i); //background y border
  // --input-bd: var(--gray-ii);//outline
  --input-solid-cl: var(--gray-i);
  --input-outline-cl: var(--gray-ii);
  //*Modulo
  --modulo-bg-gray:var(--gray-iv);
  --modulo-bg-white:var(--white-regular);
  --modulo-radius:var(--radius-ii);
  --modulo-mxwidth:720px;
  //*Search
  --search-placeholder-cl: var(--gray-ii);
  --search-bg: var(--gray-i);
  --search-radius:var(--radius-iii);
  --search-pdd: 0 55px 0 20px;
  --search-shadow: var(--shadow-6);
  --search-bg-active:white;
  //#endregion
  //*Mixin
  //separator
  --separator-color: rgb(226, 226, 226);
  // --separator-color:var(--gray-old);
  //title
  --mx-title-family: "ubuntu", sans-serif;
  // --mx-title-family: "poppins", sans-serif;
  // --mx-title-family: "open-sans", sans-serif;
  --mx-title-family-second: "poppins", sans-serif;
  --mx-title-family-third: "open-sans", sans-serif;
  //standar
  --mx-standar-family: "open-sans", sans-serif;
  // --mx-standar-family: "poppins", sans-serif;
  --mx-standar-family-second: "poppins", sans-serif;
  //button
  --mx-button-family: "open-sans", sans-serif;
  //input
  --mx-input-family: "poppins", sans-serif;
}