::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de scroll */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bdbdbd; /* Color del thumb */
    border-radius: 20px; /* Radio de borde */
  }