<ion-header>
    <ion-toolbar>
        <!-- <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> -->
        <ion-button class="button-ia type-icon style-none shadow-none" slot="end" (click)="dismiss()">
            <ion-icon name="close-outline" class="icon-ia"></ion-icon> 
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <!-- #skeleton -->
    <div class="stand-component" *ngIf="!product">
        <div class="description-section">
            <div class="image">
                <ion-skeleton-text [animated]="true" style="width: 100%;height: 100%;"></ion-skeleton-text>
            </div>
            <div class="data" style="border:none;">
                <div class="info">
                    <ion-skeleton-text [animated]="true" style="width: 100%;height: 1.5rem;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 100%;height: 0.9rem;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 100%;height: 0.9rem;"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 100%;height: 0.9rem;"></ion-skeleton-text>
                </div>
                <div class="price">
                    <div class="price-current">
                        <ion-skeleton-text [animated]="true" style="width: 30%;height: 2rem"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- # -->
    <app-product-detail [product]="product" *ngIf="product"></app-product-detail>
</ion-content>