@import "../../../assets/sass/mixin";
%test {
  --background: rgb(248, 88, 248);
  background: rgb(248, 88, 248);
}
ion-header {
  box-shadow: none;
}
.ion-padding {
  .io-list {
    // @extend %test;
    padding: unset;
  }
}
.io-icon {
  margin-right: 20px;
}
.io-label {
  @include font-secondary();
  @include font-primary();
  font-size: 0.85rem;
  color:var(--io-button-secondary);
  .io-h {
    @include font-primary();
    font-size: 1rem;
    font-weight: bold;
    color:var(--io-button-secondary);
  }
  .io-p {
    @include font-primary();
    font-size: 0.8rem;
    color:var(--io-button-secondary);
  }
}
/***Acordion***/
.io-item-accordion{
  ion-icon{
    margin-right: 20px;
    font-size:1rem;
    color:var(-io-boton-secondary)
  }
}
ion-accordion ion-list {
  all:unset;
}
ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  background:rgb(43, 45, 48);
  --background:rgb(43, 45, 48);
}
ion-accordion.accordion-expanding ion-item,
ion-accordion.accordion-expanded ion-item {
  background:rgb(43, 45, 48);
  --background:rgb(43, 45, 48);
}
/*** ***/
ion-note{
    // background:red;
    height:100%;
    display:flex;
    align-items:center ;
}

