<ion-menu contentId="main-content">
  <!-- *** Header online***-->
  <ion-header class="nav-head" *ngIf="(user$ | async) as user">
    <ion-list lines="none">
      <ion-item>
        <ion-avatar slot="start" button>
          <img alt="Silhouette of a person's head" src="{{user.img}}" />
        </ion-avatar>
      </ion-item>
      <ion-item button>
        <ion-label class="io-label">
          <h3 class="io-h">
            {{user?.name}}
          </h3>
          <p class="io-p">{{user?.email}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-header>
  <ion-content class="ion-padding">
    <!--*** Publics *** -->
    <ion-list class="io-list" lines="none" *ngFor="let i of userNav">
      <ion-menu-toggle>
        <ion-item class="io-item" routerLink="i.route" button>
          <ion-icon class="io-icon" slot="start" src="{{i.icon}}" name="{{i.iconName}}"></ion-icon>
          <ion-label class="io-label">
            {{i.label}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <!--*** User *** -->
  </ion-content>
  <!--*** Footer *** -->
  <ion-footer>
    <ion-toolbar>
      <!-- **Acordion-group -->
      <ion-accordion-group>
        <ion-accordion value="setup">
          <ion-item slot="header" color="light" button>
            <ion-label class="io-label">Configuracion y soporte</ion-label>
          </ion-item>
          <ion-list class="io-list-accordion" slot="content" lines="none">
            <ion-menu-toggle>
              <ion-item class="io-item-accordion" routerLink="user/perfil" button>
                <ion-icon slot="end"></ion-icon>
                <ion-label class="io-label size-accordion-content">
                  Configuracion de Cuenta
                </ion-label>
              </ion-item>
              <ion-item class="io-item-accordion" routerLink="user/perfil" button>
                <ion-icon slot="end"></ion-icon>
                <ion-label class="io-label size-accordion-content">
                  Centro de ayuda
                </ion-label>
              </ion-item>
              <ion-item class="io-item-accordion" routerLink="user/perfil" button>
                <ion-icon slot="end"></ion-icon>
                <ion-label class="io-label size-accordion-content">
                  Reportar un problema
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-toolbar>
    <!-- * boton signout-login -->
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-item class="io-item" *ngIf="(user$ | async)" (click)="signOut()" button>
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
          <ion-label class="io-label">
            Cerrar Sesion
          </ion-label>
        </ion-item>
        <ion-item class="io-item" *ngIf="!(user$ | async)" routerLink="/entry" button>
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
          <ion-label class="io-label">
            Iniciar Sesion
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-footer>
</ion-menu>