<ion-content [fullscreen]="true">
  <!--*** component ***-->
  <div class="container">
    <div class="modulo type-form shadow">
      <div class="head-modulo">
        <ion-toolbar>
          <ion-buttons slot="star">
            <ion-button>
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
      <div class="body-modulo">
        <form class="form-io" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="head-component text-center">
            <div class="title-section">
              <h4 class="title">Registrarse con el correo electronico</h4>
              <p class="subtitle">Hola te damos la bienvenida a Soga</p>
            </div>
          </div>
          <div class="inputs-section">
            <div class="input-component shape-round label-static"
              [ngClass]="{'isInvalid':controlState(emailControl)}">
              <input type="text" formControlName="email" />
              <label>Correo Electronico</label>
              <app-msg-error [forControl]="emailControl"></app-msg-error>
            </div>
            <app-newpass formControlName="newpass"></app-newpass>
          </div>
          <div class="buttons-section">
            <ion-button type="submit" class="button-io fill-main size-large shape-round expand-medium" [disabled]="registerForm.invalid">Crear Cuenta</ion-button>
          </div>
        </form>
      </div>
      <div class="footer-modulo">
        <div class="buttons-section button-double">
          <ion-button class="button-io fill-none shape-round size-medium" (click)="goLogin()">
            Iniciar sesion</ion-button>
          <ion-button class="button-io fill-none shape-round size-medium" (click)="goEntry()">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Volver</ion-button>
        </div>
      </div>
    </div>
  </div>
  <!-- *** *** -->
  <pre>{{registerForm.value | json}}</pre>
  <pre>{{registerForm.status}}</pre>
</ion-content>