<!-- <ng-container [formGroup]="groupName">
  <div class="capsule-inp">
      <input type="password" class="input-radius" placeholder="Pin" formControlName="password">
      <ion-button class="bt-icon-radius">
          <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
  </div>
  <div class="capsule-inp">
      <input type="password" class="input-radius" placeholder="Confirmar Pin" formControlName="confirmPass">
  </div>
</ng-container>                         -->
                    

