<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container home-center">
    <div class="side-left"></div>
    <div class="main">
      <div class="head-main-area">
        <div class="segment-section">
          <ion-segment value="default">
            <ion-segment-button value="default">
              <ion-label>Tendencias</ion-label>
            </ion-segment-button>
            <ion-segment-button value="news">
              <ion-label>Noticias</ion-label>
            </ion-segment-button>
            <ion-segment-button value="shop">
              <ion-label>Segment</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <!-- # -->
        <div class="search-section">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <app-search></app-search>
          <div class="box-button">
            <ion-button class="button-io fill-icon-gray">
              <ion-icon slot="icon-only" src="../../../assets/icon/notification.svg"></ion-icon>
            </ion-button>
            <ion-button class="button-io fill-icon-gray">
              <ion-icon slot="icon-only" src="../../../assets/icon/bag.svg"></ion-icon>
            </ion-button>
          </div>
        </div>
        <!-- # -->
      </div>
      <app-md-card-slide [dataModulo]="items2"></app-md-card-slide>
      <!-- <app-md-card-slide [dataModulo]="items2"></app-md-card-slide> -->
      <!-- <app-md-card-mini [dataModulo]="items"></app-md-card-mini> -->
    </div>
    <div class="side-right"></div>
  </div>
</ion-content>