swiper-container{
    // background: violet;
    width:100%;
  }
  swiper-slide{
    // background: gray;
   width: 12.3rem;
  }
  //!Actions
  .invisible {
      opacity: 0;
    }
    
    .visible {
      opacity: 1;
    }