@import "../../../assets/sass/mixin";
/**style**/
.search-component {
  // background: reD;
  width: 100%;
  height: var(--type-search-hg);
  position: relative;
  // box-sizing: border-box;
  > .input-search {
    @include font-standar($color: rgb(77, 77, 77), $fs: 1rem, $fw: 500);
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background: rgb(240, 244, 247);
    border-radius: 30px;
    padding: 0 55px 0 20px;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: var(--input-label);
    }
  }
  > .button-section {
    // background:red;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 30px 30px 0;
    padding: 0 4px;
  }
}
