<div class="stand-section description-product">
  <h2 class="title">Descripción</h2>
  <ul class="description">
  <li>
    {{data}}
  </li>
    <!-- <li>Compatibilidad multiplataforma: los auriculares
      inalámbricos X3 para juegos están equipados con
      modos duales inalámbricos y Bluetooth de 2.4 GHz, lo
      que permite la conexión inalámbrica a los
      controladores Xbox (Tenga en cuenta que el
      transmisor X3 solo admite los controladores
      oficiales en lugar de los terceros) así como
      compatibilidad perfecta con PC, PS5, computadoras
      portátiles, Mac y Nintendo Switch. Simplemente
      conecta y usa para una inmersión instantánea en los
      juegos
    </li>
    <li>
      Calidad de sonido excepcional: Sumérgete en el juego con nuestros altavoces de 1.969 in y la
      tecnología de sonido envolvente 3D de vanguardia. Captura todos los matices y sumérgete en efectos
      de sonido de juego realistas. El micrófono con cancelación de ruido garantiza una comunicación
      nítida con tus compañeros de equipo, fomentando el trabajo en equipo sin problemas durante sesiones
      de juego de alto octanaje.
    </li>
    <li>
      <p>Batería de larga duración y latencia mínima: Disfruta de juegos ininterrumpidos gracias a hasta
        50
        horas de juego sin interrupciones con una sola carga, con una recarga completa rápida en solo
        2,5
        horas. Nuestros auriculares inalámbricos cuentan con tecnología de baja latencia (<20 ms), que ofrece
          retroalimentación de audio instantánea con retrasos imperceptibles, lo que permite reacciones más rápidas
          y una jugabilidad mejorada.</p>
    </li>
    <li>
      Fantástico diseño humanizado con materiales de primera calidad: fabricado ergonómicamente para una
      comodidad superior, con lujosas almohadillas de proteína de aire. Las suaves almohadillas de cuero
      sintético permiten sesiones de juego prolongadas sin causar fatiga. Las diademas ajustables y las
      cómodas almohadillas de cuero sintético garantizan un uso prolongado sin molestias. Además, se
      adapta a varias formas de cabeza sin problemas.
    </li>
    <li>
      Control sin esfuerzo a su alcance: gestione sin problemas sus encuentros de juego con botones
      convenientemente ubicados en nuestros auriculares. Ajusta el volumen, silencia el micrófono o ajusta
      otros ajustes directamente desde los auriculares, asegurando un viaje de juego suave y sin
      complicaciones.
    </li>
    <li>
      ① Confirma que el receptor está insertado en el controlador o dispositivos de forma firme y
      completa, y apaga el modo de monitoreo en la configuración de la consola Xbox, para evitar ruido o
      ecos. ②. Asegúrese de que la consola Xbox esté configurada al máximo. Cuando se usan los auriculares
      por primera vez, el volumen predeterminado en la consola es del 80%.
    </li>
    <li>
      Para evitar que no haya sonido o sonido bajo del micrófono: confirma la configuración de la consola
      Xbox, ya sea que el sonido del micrófono esté al máximo en el ? Si lo subes al máximo, ajusta el
      sonido del juego y el sonido del chat al centro para que estén equilibrados. Además, asegúrate de
      que el micrófono esté correctamente enchufado.
    </li>-->
  </ul> 
</div>
