<div class="rating-component" *ngIf="available, else skeleton">
  <div class="rating">
    <span class="material-symbols-outlined">star</span>
    <span class="material-symbols-outlined">star</span>
    <span class="material-symbols-outlined">star</span>
    <span class="material-symbols-outlined">star</span>
    <span class="material-symbols-outlined">star</span>
  </div>
  <div class="qualify" *ngIf="showRating"><span>({{rating}})</span></div>
</div>
<ng-template #skeleton>
  <div class="rating-component rating-sk">
    <div class="rating">
      <span class="material-symbols-outlined">star</span>
      <span class="material-symbols-outlined">star</span>
      <span class="material-symbols-outlined">star</span>
      <span class="material-symbols-outlined">star</span>
      <span class="material-symbols-outlined">star</span>
    </div>
  </div>
</ng-template>