@import "../../../assets/sass/mixin";
//#region - Header
#header {
  //  background-color: aquamarine;
  display: grid;
  grid-template-areas: "sideleft_ main_ sideright_";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding: var(--pdd-m) 1.25rem;
  // margin-bottom: var(--pdd-m);
  column-gap: var(--pdd-m);
  // box-sizing: border-box;
  .main-header {
    // background: rgb(255, 195, 195);
    grid-area: main_;
    width: 100%;
  }
  .side-left-header {
    // background: rgb(197, 255, 189);
    grid-area: sideleft_;
  }
  .side-right-header {
    // background: rgb(185, 245, 255);
    grid-area: sideright_;
  }
  .options-section_ {
    width: content;
    // background:red;
    // padding:var(--pdd-m) 0;
    // flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-left: var(--pdd-m);
    }
  }
}
//#endregion
//#region - head-search-component
//*structure
.head-search-component {
  box-sizing: border-box;
  // background:violet;
  display: flex;
  height: min-content;
  // padding:var(--pdd-m) 0;
  .avatar-component {
    // background:red;
    // width:3rem;
    height: content;
    margin-right: var(--pdd-m);
  }
  .options-section {
    display: flex;
    button {
      margin-left: var(--pdd-m);
    }
  }
}
//#endregion
//#region - tiendas sugeridas componente (suggested-stores-component)
.suggested-stores-component {
  // background: rgb(255, 181, 255);
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--pdd-m);
  padding: var(--pdd-m) 0;
  > .item {
    display: flex;
    align-items: center;
    // overflow: hidden;
    > .logo {
      height: min(3rem, 3rem);
      width: min(3rem, 3rem);
      margin-right: var(--pdd-m);
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }
    }
    > .info {
      // background:violet;
      flex: 1;
      height: min(3rem, 3rem);
      width: 5rem;
      // width:max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .store {
        @include font-standar(medium-bold);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .followers {
        // @include font-standar($fw:200,$fs:var(--ft-sz-xxs));
        @include font-standar($type: small-regular);
      }
    }
    > button {
      // background:rgb(255, 156, 156);
      // height: min(3rem, 3rem);
      // width: min(3rem, 3rem);
    }
  }
}
//#endregion
//#region - Category - component
.category-component {
  // background: violet;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.625rem;
  height:min-content;
  // padding:0.625rem 0;
  // justify-content: flex-start;
  .body-category {
   
    display: inline-flex;
    flex-wrap: wrap;
    button{
      margin:2px;
    }
  }
}
//#endregion
//#region - Premium 
.premium-component{
  //
  margin-right:0.625rem;
  width:320px;
  height:minmax(320px, 420px);
  //
  background: white;
 cursor:pointer;
  border-radius:15px;
  // width:520px;
  // height:800px;
  padding:0.625rem;
  .body-premium{
    // background: red;
  }
  .image-section{
    width:100%;
    height:100%;
    overflow:hidden;
    border-radius:15px;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
  .data-section{
    // background: violet;
    position:relative;
    width:100%;
    
  }
  .button-section{
    position:absolute;
    right:0.3125rem;
    bottom:0.3125rem;

  }
  .name{
    @include font-standar($color: var( --headline-subtitle-cl),$fw:500);
  }
  .price{
    @include font-standar(large-bold,$color: var(--black-regular))
  }
}
//#endregion
//#region - Quick-categories
.quick-categories{
--category-size-img:8rem;
// background: violet;
cursor:pointer;
width:8.5rem;
width:min-content;
display:flex;
justify-content: center;
.category{
  margin-right: 0.625rem;
}
.image{
  // border:1px solid rgb(218, 218, 218);
  display:grid;
  grid-template-columns: var(--category-size-img) var(--category-size-img);
  grid-template-rows: var(--category-size-img);
  // gap:3px;
  border-radius:15px;
  overflow: hidden;
    img,.info{
      background: white;
      // border-radius:15px;
      width:var(--category-size-img);
      height:var(--category-size-img);
      object-fit: cover;
    }
    .info{
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      padding:0.3125rem 0.625rem;
    }
  }
 .title-catg{
    // background: #000;
    // display:none;
    @include font-title($fs:18px);
    width:100%;
    text-align:end;
  }
  .item-catg{
    @include font-standar($color: var( --headline-subtitle-cl),$fw:500);
  }
}
//* RESPONSIVE - quick-categories 
@include mediaquery(720px){
.quick-categories{
.image{
  img{
    // display:none;
  }
  .info{
  .item-catg{
    // display:none;
  }
  }
}
}
}
//#endregion
//#region - Container banner
.container {
  &.type-banner {
    // background: rgb(253, 207, 253);
    // display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30rem;
    grid-template-areas: "banner-main banner-main banner-main banner-minor ";
    width: 100%;
    // row-gap: var(--ctn-row-gap);
    column-gap: 0.625rem;
    // max-width:1400px;
    .banner-main {
      grid-area: banner-main;
      // height: 30rem;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .banner-minor {
      grid-area: banner-minor;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 0.625rem;
      .item-img {
        cursor: pointer;
        width: 100%;
        height: 9.6rem;
        border-radius: 15px;
        overflow: hidden;
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }
    .bar-options {
      display: flex;
      .item {
        // background: rgb(255, 193, 193);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        margin-right: 0.625rem;
        transition:color 0.3s ease;
        &:hover {
          span,i {
            border:2px solid var(--black-regular);
            color: var(--black-regular);
            background: #000;
            color:white;
          }
          h4,
          h6 {
            color: var(--black-regular);
            // font-weight:bold;
          }
        }
        span,i {
          width: 3.5rem;
          height: 3.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // border: 2px solid var(--gray-ii);
          // background:rgba(rgb(94, 204, 255),0.5);
          background:rgba(240,243,245,1);
          font-size: 2.5rem;
          font-weight:100;
          border-radius: 100%;
          padding: 0.625rem;
          color: var(--gray-ii);
          // color:white;
          transition: color 0.3s ease;
        }
        h4 {
          @include font-standar($fs: 0.85rem, $fw: 600, $color: var(--gray-ii));
          transition: border 0.3s ease, color 0.3s ease;
        }
        h6 {
          @include font-standar($fs: 0.75rem, $fw: 400, $color: var(--gray-ii));
        }
      }
    }
  }
}
//!Responsive
@include mediaquery(1120px) {
  .container {
    &.type-head {
      grid-template-columns: 1fr;
      grid-template-rows: 30rem auto;
      grid-template-areas: "banner-main" "banner-minor ";
      .banner-minor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 0.625rem;
      }
    }
  }
}

//#endregion
//#region - Container - Areas
.container {
  &.area-banner{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30rem;
    grid-template-areas: "main main main sideright";
  }
  &.area-left-x2 {
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 30rem;
    grid-template-areas: "main main main sideright";
  }
  .main {
    // background: red;
    grid-area: main;
  }
  .side-right {
    grid-area: sideright;
  }
  .side-left {
    grid-area: sideleft;
    display: none;
  }
}
//#endregion
//!NOTAS:
/*
 en tiendas sugeridas componente (suggested-stores-component) en la parte de .info,
aun no se explica por que al tener un flex:1 y un width:min(3rem,3rem) se genera el ellipsis del texto; 
y solo sucede con min() o un width sin seudclases, no con minmax()

*/
