<ion-content [fullscreen]="true">
    <!-- component -->
    <div class="container ">
        <div class="modulo type-form shadow">
            <div class="wrapper-entry-logo">
                <!-- <img class="wallpaper" src="../assets/img/entry/fondo-entry.jpg" alt=""> -->
                <img class="logo" src="../assets/img/logo/logo-test-2.png" alt="">
            </div>
            <div class="wrapper-entry-center">
                <div class="content">
                    <div class="head-component text-left">
                        <div class="title-section">
                            <h1 class="title margin-unset">Unete</h1>
                            <p class="subtitle">Todo lo que necesitas a un click</p>
                        </div>
                    </div>
                    <div class="buttons-section button-column">
                        <ion-button class="button-io fill-solid-main size-large shape-round expand-medium text-test"
                            routerLink="/registro">Crear una cuenta</ion-button>
                            <ion-button class="button-io fill-outline-main size-large shape-round expand-medium text-test"
                            routerLink="/login">Iniciar Sesion</ion-button>
                        <div class="separator">
                            <div class="line"></div>
                            <div class="circle">o</div>
                            <div class="line"></div>
                        </div>
                        <ion-button class="button-io fill-solid-second size-large shape-round expand-medium text-test"
                            (click)="providerAction('google')">
                            <img src="../assets/img/utils/google-thumbnail.png" alt="">
                            Unirte con Google
                        </ion-button>
                        <ion-button class="button-io fill-solid-second size-large shape-round expand-medium text-test"
                            (click)="providerAction('facebook')">
                            <img src="../assets/img/utils/facebook-thumbnail.png" alt="">
                            Unirte con Facebook
                        </ion-button>
                    </div>
                    <div class="footer-wrapper">
                        <!-- <p class="textDown-wrapper" routerLink="/login">¿Ya tienes una cuenta? <a>Iniciar Sesion</a>
                        </p> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  -->
</ion-content>