//#region --- Extends
.stand-component {
  --stand-color-promo: rgb(255, 153, 0);
  --size-required-color: 5rem;
  --size-required-size: 4rem;
  --size-required-bd-color: rgb(116, 116, 116);
  --size-required-bd-color: rgb(226, 226, 226);
  // --size-required-bd-color:rgb(153, 153, 153);
  // --size-required-bd-color:var(--ion-color-primary);
}
%rating {
  // background:red;
  width: 100%;
  .rating-text {
    // background:yellow;
    height: 100%;
    // @include font-standar($fs: 0.87rem, $family: main);
    @include font-standar(var(--standar));
  }
  .stars {
    // background:violet;
    display: flex;
    align-items: center;
    // margin-left:0.3125rem;
    .star {
      color: #ccc; /* Color de las estrellas no llenas */
      font-size: 1.3rem; /* Tamaño de las estrellas */
      position: relative;
      // background-color: violet;
    }
    .star.filled {
      color: var(--ion-color-primary); /* Color de las estrellas llenas */
    }
    .star.half {
      color: var(--ion-color-primary);
    }
    .star.half::before {
      // content: "\2605"; /* Símbolo de estrella */
      color: #ccc; /* Color del lado vacío de la estrella */
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
  }
}
%required_options {
  .headline {
    @include font-standar($family: main, $fw: 600);
    padding: 0.65rem 0;
  }
  .size {
    .size-options {
      overflow: hidden;
      display: flex;
      & > :not(:first-child) {
        margin-right: 0.625rem;
      }
      input[type="checkbox"] {
        display: none;
      }
      .opt {
        // background:red;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-standar($family: main, $fs: 1.2rem, $color: gray);
        height: min(var(--size-required-size), var(--size-required-size));
        width: min(var(--size-required-size), var(--size-required-size));
        border-radius: 100%;
        border: 1px solid rgb(226, 226, 226);
        &:hover {
          border: 2px solid var(--ion-color-primary);
        }
      }
    }
  }
  .color {
    .color-options {
      overflow: hidden;
      display: flex;
      & > :not(:first-child) {
        margin-left: 0.625rem;
      }
      .item {
        background: violet;
        cursor: pointer;
        height: min(var(--size-required-color), var(--size-required-color));
        width: min(var(--size-required-color), var(--size-required-color));
        border-radius: 100%;
        border: 1px solid var(--size-required-bd-color);
        overflow: hidden;
        box-sizing: border-box;
        &:hover {
          border: 2px solid var(--ion-color-primary);
        }
        img {
          width: var(--size-required-color);
          height: var(--size-required-color);
        }
      }
    }
  }
}
%details{
  .purchase-details {
    padding: 1.25rem 0;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.625rem;
  }
  .info-details {
    // background:red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // color: rgb(196, 196, 196);
    // & > :not(:first-child) {
    //   margin-left: 0.625rem;
    // }

    .info-text {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0.625rem;
    
      .icon-info {
        margin-right: 0.3125rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--gray-v);
        // color: rgb(155, 155, 155)
      }
    
      .primary {
        @include font-standar($fw: 400, $family: main);
        // color: rgb(87, 86, 86);
        // color:var(--ion-color-primary);
      }
      .secondary {
        @include font-standar(
          $family: main,
          $fs: 0.85rem,
          $color: var(--gray-v)
        );
        grid-column: 2;
        strong {
          color: rgb(78, 226, 78);
        }
      }
    }
    // .info-second{
    //   // background:red;
    //   width:min-content;
    //   display:flex;
    //   flex-direction:column;
    //   align-items: center;
    //   .icon-like{
    //     font-size: 1.5rem;
    //     background:var(--ion-color-primary);
    //     padding:0.625rem;
    //     border-radius:100%;
    //     color: white;;
    //   }
    //   .primary {
    //     @include font-standar($fw: 400, $family: main);
    //     color: rgb(87, 86, 86);
    //     // color:var(--ion-color-primary);
    //   }
    // }
  }
}
//#endregion
//#region --- Structure-main
.stand-component {
  //
  padding: 0.625rem;
  //
  display: grid;
  width: 100%;
  gap: 0.625rem;
  //*sections
  .stand-section {
    background: white;
    width: 100%;
    border-radius: 15px;
    padding: 0.625rem;
    height: content;
    display: grid;
    gap: 0.625rem;
    &.data-product {
      width: 100%;
      height: min(30rem, 30rem);
    }
    &.purchase-product {
      height: auto;
    }
    &.description-product {
      padding: 2rem 1.25rem;
      grid-template-columns: 1fr;
    }
    &.features-product {
      padding: 2rem 1.25rem;
      grid-template-columns: 1fr;
    }
    &.customer-reviews-product {
      padding: 2rem 1.25rem;
    }
    &.required-options-product {
      padding: 2rem 1.25rem;
    }
  }
}
//#endregion
//#region --- Structure-sections
.stand-component {
  .stand-section {
    &.data-product {
      .image {
        // background: rgb(233, 233, 233);
        height: 100%;
        width: 100%;
        border-radius: 15px;
        grid-column: 1;
        > img {
          border-radius: 15px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        @include font-title($family: main);
      }
      .rating {
        @extend %rating;
        display: flex;
        align-items: flex-start;
        & > :not(:first-child) {
          margin-left: 0.625rem;
        }
      }
      .price {
        // background:rgb(252, 232, 252);
        display: flex;
        flex-direction: column;
        .price-current {
          @include font-standar($fs: 1.85rem, $fw: 400, $family: main);
          line-height: 0.9;
          display: flex;
          align-items: center;
          & > :not(:first-child) {
            margin-left: 0.625rem;
          }
          sup {
            font-size: 0.85rem;
            font-weight: 400;
          }
          .promo {
            color: var(--stand-color-promo);
            font-weight: 300;
          }
          .promo-label {
            background: var(--stand-color-promo);
            padding: 0.3125rem;
            border-radius: 4px;
            color: white;
            font-size: 0.8rem;
            font-weight: 600;
          }
        }
        .price-old {
          // background:red;
          @include font-standar(
            $fw: 400,
            $fs: 0.8rem,
            $color: var(--gray-old),
            $family: main
          );
        }
      }
      .required-options {
        @extend %required_options;
        padding: 0.625rem 0;
        .color {
          margin-bottom: 1.25rem;
          .color-options {
            overflow: hidden;
            display: flex;
            & > :not(:first-child) {
              margin-left: 0.625rem;
            }
            .item {
              background: violet;
              cursor: pointer;
              height: min(
                var(--size-required-color),
                var(--size-required-color)
              );
              width: min(
                var(--size-required-color),
                var(--size-required-color)
              );
              border-radius: 100%;
              border: 1px solid var(--size-required-bd-color);
              overflow: hidden;
              box-sizing: border-box;
              &:hover {
                border: 2px solid var(--ion-color-primary);
              }
              img {
                width: var(--size-required-color);
                height: var(--size-required-color);
              }
            }
          }
        }
        .size {
          .size-options {
            overflow: hidden;
            display: flex;
            & > :not(:first-child) {
              margin-right: 0.625rem;
            }
            input[type="checkbox"] {
              display: none;
            }
            .opt {
              // background:red;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              @include font-standar($family: main, $fs: 1.2rem, $color: gray);
              height: min(var(--size-required-size), var(--size-required-size));
              width: min(var(--size-required-size), var(--size-required-size));
              border-radius: 100%;
              border: 1px solid rgb(226, 226, 226);
              &:hover {
                border: 2px solid rgb(110, 110, 110);
              }
            }
          }
        }
      }
    }
    //*description
    &.description-product {
      .title {
        @include font-title($family: main);
      }
      .description {
        @include font-standar($family: main);
        padding: 0 1.25rem;
      }
    }
    //*Caracteristicas
    &.features-product {
      .title {
        @include font-title($family: main);
      }
      .cuadricula {
        width: 100%;
        border-radius: 15px;
        //   @include font-standar(
        //     $family: main,
        //     $color: rgb(153, 153, 153),
        //     $fs: 1rem
        //   );
      }
      tbody {
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        & > :nth-child(odd) {
          background: rgb(231, 231, 231);
        }
        tr {
          // background:blue;
          width: 200%;
          & > :nth-child(odd) {
            font-weight: 600;
            color: rgb(126, 126, 126);
          }
          td {
            // background:rgb(241, 241, 241);
            width: 50%;
            padding: 0.625rem;
            @include font-standar(
              $family: main,
              $color: rgb(153, 153, 153),
              $fs: 0.8rem
            );
          }
        }
      }
    }
    //*Opiniones usuarios
    &.customer-reviews-product {
      display: grid;
      align-items: flex-start;
      .title {
        //   background: yellow;
        grid-area: title;
        @include font-title($family: main);
      }
      .customer-rating {
        //   background: green;
        grid-area: rating;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 0.625rem;
        .head-rating {
          // background:yellow;
          display: flex;
          align-items: center;
          .score {
            @include font-standar(
              $fs: 2.5rem,
              $fw: 600,
              $color: var(--ion-color-primary)
            );
          }
          .rating {
            @extend %rating;
            margin-left: 0.625rem;
          }
        }
        .body-rating {
          .subtitle {
            @include font-title($family: main);
            padding: 0.625rem 0;
          }
          .rating {
            @extend %rating;
            padding: 0.625rem 0;
          }
        }
      }
      .customer-reviews {
        //   background: red;
        grid-area: reviews;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.625rem;
        .subtitle {
          @include font-title($family: main);
        }
        .review {
          padding: 0.625rem 0;
          p {
            @include font-standar($family: main);
          }
          .buttons-section {
            padding: 0.625rem 0;
            .group-buttons {
              display: flex;
            }

            button {
              margin-right: 0.625rem;
            }
          }
        }
      }
    }
    //*Opciones de compra
    &.required-options-product {
      @extend %required_options;
    }
    &.purchase-product {
      padding: 0.625rem 1.25rem;
     @extend %details;
    }
    &.data-store {
      padding: 2rem 1.25rem;
      display: grid;
      grid-template-columns: 1fr;
      row-gap:0.625rem;
      .headline {
        position:relative;
        display: flex;
        justify-content: space-between;
        .group {
          @include font-title($family: main);
          display: flex;
        }
        .logo {
          margin-right: 0.625rem;
          background: rgb(243, 243, 243);
          width: 2rem;
          height: 2rem;
          color: rgb(167, 167, 167);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .verified{
          color:var(--ion-color-primary);
        }
        .separator{
          @include separator;
          position:absolute;
          top:100%;
        }
      }
      @extend %details;
    }
  }
}
//#endregion
//#region --- Organizacion
.stand-component {
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: auto auto auto auto 1fr;
  align-items: flex-start;
  .stand-section {
    &.data-product {
      // grid-row: 1 /-1;
      grid-column: 1;
      // order:1;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto 1fr;
      align-items: flex-start;
      .image {
        grid-column: 1;
        grid-row: 1 /-1;
      }
      .title {
        grid-column: 2;
      }
      .rating {
        grid-column: 2;
      }
      .price {
        // background-color: aquamarine;
        grid-column: 2;
      }
      .required-options {
        // background:red;
        // grid-row:4;
        grid-column: 2;
      }
    }
    &.required-options-product {
      // background:red;
      grid-column: 1;
      // order: 1;
      height: min-content;
    }
    &.description-product {
      grid-column: 1;
      // order: 3;
    }
    &.features-product {
      grid-column: 1;
      // order: 4;
    }
    &.customer-reviews-product {
      grid-column: 1;
      // order: 5;
      grid-template-areas: "title title" "rating reviews";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
    }
    &.purchase-product {
      // background:violet;
      grid-column: 2;
      // grid-row:span 1;
      // height: min-content;
    }
    &.data-store {
      grid-column: 2;
    }
  }
}
//#endregion
//#region --- Responsive
@include mediaquery(1080px) {
  .stand-component {
    // grid-template-columns: 1fr;
    // width:min(100%, 720px);
    .stand-section {
      // background-color: aqua;
      margin: auto;
      &.data-product {
        height: unset;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .image {
          grid-row: unset;
          grid-column: 1;
          order: 2;
        }
        .title {
          grid-column: 1;
          order: 3;
          font-size: 0.85rem;
        }
        .rating {
          grid-column: 1;
          order: 1;
        }
        .price {
          // background-color: aquamarine;
          grid-column: 1;
          order: 4;
          display: none;
        }
        .required-options {
          grid-column: 1;
          order: 5;
        }
      }
    }
  }
}
//#endregion
