<ion-content [fullscreen]="true">
  <!--*** component ***-->
  <div class="container">
    <div class="modulo type-form shadow">
      <div class="head-modulo">
          <ion-toolbar>
            <ion-buttons slot="star">
              <ion-button>
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button routerLink="/entry">
                <ion-icon class="icon-head" slot="icon-only" name="close-outline" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
      </div>
      <div class="body-modulo flex-one">
        <form class="form-io" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="head-component text-center">
            <div class="title-section">
              <h1 class="title">Bienvenido de vuelta</h1>
              <p class="subtitle">Hola te damos la bienvenida a Soga</p>
            </div>
          </div>
          <div class="inputs-section">
            <app-signin formControlName="signInComp"></app-signin>
            <ion-button type="submit" class="button-io fill-solid-main size-large shape-round expand-medium"
              [disabled]="loginForm.invalid">Iniciar Sesion</ion-button>
          </div>
          <div class="footer-form">
            <p class="textDown-wrapper" routerLink="/set-pass">¿Olvidaste tu contraseña?</p>
          </div>
        </form>
      </div>
      <div class="footer-modulo">
        <div class="buttons-section button-double">
          <ion-button class="button-io fill-clear shape-round size-medium" routerLink="/registro">
            Registrate</ion-button>
          <!-- <ion-button class="button-io fill-clear shape-round size-medium" routerLink="/entry">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Volver</ion-button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- *** *** -->
  <!-- <pre>{{loginForm.value | json}}</pre>
  <pre>{{loginForm.status}}</pre> -->
</ion-content>