.wrapper-buttons{
    /* background:violet; */
    padding:2rem;
    width:100;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.wrapper-buttons .title{
    /* background:red; */
    width:100;
    /* text-align: left; */
    /* margin-bottom:1rem; */
}
.wrapper-buttons .title label{
/* background:rgb(21, 255, 0); */
  font-size:0.8rem;
  text-decoration: underline;
font-family:'ubuntu','sans-serif';
font-weight:bold;
color:rgb(190, 190, 190);
}
.wrapper-buttons .ctn-buttons{
    /* background:yellow;  */
    display:flex;
    align-items: center;
    width:100%;

}
.wrapper-buttons .ctn-buttons ion-button{
   margin: 0 0.625rem;
}