<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <!-- # signup -->
    <!-- !REFACTOR EN UI -->
    <!-- <div class="wrapper-buttons">
        <div class="ctn-buttons">
            <button class="btn-io type-signup  shape-round size-m">
                <p class="text">Registrate</p>
                <span class="material-symbols-rounded">
                    account_circle
                </span>
            </button>
            <button class="btn-io type-signup  shape-round size-l ">
                <p class="text">Registrate</p>
                <img src="../../assets/img/utils/google-thumbnail.png" alt>
            </button>
        </div>
    </div> -->
    <!-- # solids-->
    <div class="wrapper-buttons">
      <div class="ctn-buttons">
          <ion-button class="btn-io  fill-solid-main shape-square size-xl ">
              Text De Prueba
          </ion-button>
          <ion-button class="btn-io  fill-solid-warning shape-square size-xl ">
              Text De Prueba
          </ion-button>
          <ion-button class="btn-io fill-solid-black shape-round size-l ">
              Text De Prueba
          </ion-button>
      </div>
  </div>
  <!-- # -->
  <!-- <div class="wrapper-buttons">
  <div class="ctn-buttons">
      <button class="btn-io fill-solid-second shape-round">Text De
          Prueba</button>
  </div>
</div> -->
  <!-- # outline-->
  <div class="wrapper-buttons">
      <div class="ctn-buttons">
          <ion-button class="btn-io fill-outline-main">Text De Prueba</ion-button>
          <ion-button class="btn-io fill-outline-black">Text De
              Prueba</ion-button>
          <ion-button class="btn-io fill-outline-warning">Text De
              Prueba</ion-button>
      </div>
  </div>
  <!-- # -->
  <div class="wrapper-buttons">
      <div class="ctn-buttons">
          <ion-button class="btn-io fill-clear shape-round">Text De Prueba</ion-button>
          <ion-button class="btn-io fill-clear color-main">Text De Prueba</ion-button>
          <ion-button class="btn-io fill-clear color-gray">Text De Prueba</ion-button>
      </div>
  </div>
  <!-- # icon-->
  <div class="wrapper-buttons">
      <div class="ctn-buttons">
          <ion-button class="btn-io fill-solid-main shape-round size-m icon-add-left">
              <ion-icon name="bag-handle-sharp" slot="start"></ion-icon>
              <p class="text">size medium 1</p>
          </ion-button>
          <ion-button class="btn-io fill-solid-main shape-round size-m icon-add-left">
              <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
              <p class="text">size medium 2</p>
          </ion-button>
          <ion-button class="btn-io fill-solid-main shape-round size-m icon-add-left">
            <mat-icon class="icon">star_half</mat-icon>
              <p class="text">size large 3</p>
          </ion-button>
          <ion-button class="btn-io fill-solid-main shape-round size-l icon-add-left">
            <mat-icon svgIcon="bag" class="icon"></mat-icon>
              <p class="text">size large 5</p>
          </ion-button>
          <ion-button class="btn-io fill-solid-second shape-round size-xl icon-add-left">
              <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
              <p class="text">size-xl 6</p>
          </ion-button>
            <ion-button class="btn-io fill-clear shape-round size-s icon-add-left">
              <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
              <p class="text">size-small 7</p>
          </ion-button>
          <ion-button class="btn-io fill-outline-main shape-round size-s icon-add-left">
              <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
              <p class="text">Bolsa de compra 8s</p>
          </ion-button>
      </div>
  </div>
  <!-- # img-->
  <div class="wrapper-buttons">
  <div class="ctn-buttons">
      <ion-button
          class="btn-io fill-solid-second size-l shape-round icon-add-left ">
          <img src="../../../assets/img/utils/google-thumbnail.png"
              alt="logo google">
          <p class="text">size-large</p>
      </ion-button>
      <ion-button
          class="btn-io fill-solid-main size-xl shape-round icon-add-left ">
          <img src="../../../assets/img/utils/facebook-thumbnail.png" alt>
          <p class="text">size xl</p>
      </ion-button>
  </div>
</div>
  <!-- # icon-->
  <div class="wrapper-buttons">
  <div class="ctn-buttons" style="flex-direction: column;">
      <ion-button
          class="btn-io fill-solid-main size-l  shape-round expand-regular" style="margin-bottom:0.5rem;">
        size medium
      </ion-button>
      <ion-button
          class="btn-io fill-solid-main size-l  shape-round icon-add-left">
          <ion-icon name="bag-handle-sharp" slot="start"></ion-icon>
          <p class="text">size large</p>
      </ion-button>
  </div>
</div>
  <!-- #-buton-icon -->
  <div class="wrapper-buttons">
  <div class="ctn-buttons">
      <ion-button class="btn-icon fill-solid-second size-s shape-round">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button class="btn-icon fill-solid-main size-xl shape-round">
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
  </div>
</div>
  
</ion-content>
