<div class="order-options">
  <ion-list lines="none">
    <ion-list-header>
      <h6 class="title">Talla:</h6>
    </ion-list-header>
    <ion-item style="background:none;">
      <ion-select aria-label="fruit" placeholder="Selecciona">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header>
      <h6 class="title">Color:</h6>
    </ion-list-header>
    <ion-item style="background:none;">
      <ion-select aria-label="talla" interface="action-sheet" placeholder="Selecciona una">
        <ion-select-option value="S">Azul</ion-select-option>
        <ion-select-option value="L">Rojo</ion-select-option>
        <ion-select-option value="M">Verde</ion-select-option>
        <ion-select-option value="S">Azul</ion-select-option>
        <ion-select-option value="L">Rojo</ion-select-option>
        <ion-select-option value="M">Verde</ion-select-option>
        <ion-select-option value="S">Azul</ion-select-option>
        <ion-select-option value="L">Rojo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>