//#region --- EXTENDS
%fill {
  &.fill {
    &-solid {
      &-main {
        --background: var(--ion-color-primary);
        color: var(--white-regular);
       mat-icon,.icon{
          svg{
            fill:white;
          }
        }
      }

      &-second {
        --background: var(--btn-solid-second-bg);
        color: var(--btn-solid-second-cl);
        mat-icon,.icon{
          svg{
            fill:var(--btn-solid-second-cl);
          }
        }
      }

      &-warning {
        --background: var(--ion-color-warning);
        color: var(--white-regular);
      }

      &-black {
        --background: var(--black-regular);
        color: var(--white-regular);
      }
    }

    &-outline {
      &-main {
        --background: none;
        color: var(--ion-color-primary);
        border: 2px solid var(--ion-color-primary);
      }

      &-black {
        --background: none;
        color: var(--black-regular);
        border: 2px solid var(--black-regular);
      }

      &-warning {
        --background: none;
        color: var(--ion-color-warning);
        border: 2px solid var(--ion-color-warning);
      }
    }

    &-clear {
      --background: none;
      background:none;
      color: var(--black-regular);
    }
  }
}

%shape {
  &.shape {
    &-round {
      --border-radius: var(--btn-radius);
      border-radius: var(--btn-radius);
    }

    &-square {
      --border-radius: var(--radius-square);
      border-radius: var(--btn-radius);
    }
  }
}

%color {
  &.color {
    &-main {
      color: var(--ion-color-primary);
      svg{

        fill:var(--ion-color-primary);
      }
    }

    &-black {
      color: var(--black-regular);
      mat-icon,.icon{
        svg{
          fill:white;
        }
      }
    }

    &-gray {
      color: var(--btn-color-gray);
    }
  }
}

%shadow {
  &.shadow {
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; //6 search;
  }
}

//#endregion
//#region --- BUTTON
//*structure
.btn-io {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: none;
  letter-spacing: unset;
  @include font-button();
  border: none;
  --padding: var(--btn-pdd);
  display: flex;
  align-items: center;
  justify-content: center;
  --box-shadow: none; //+ionic

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 0.625rem;
  }

  span {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .text,
  p {
    @include txt-ellipsis;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    // background:violet;
    display:flex;
    justify-content: center;
    align-items:center;
    // color: red;
    font-size: 1rem;
  }
  // mat-icon svg {
  //   fill: #ff0000; /* Change the fill color to red */
  // }
}

//*Attribute
.btn-io {
  @extend %fill;
  @extend %shape;
  @extend %color;
  @extend %shadow;

  &.type {
    &-signup {
      background-color: rgb(252, 250, 166);
      padding: var(--pdd-s);

      >.text {
        background: rgb(255, 187, 0);
        @include center;
        border-radius: var(--btn-shape-round);
        font-weight: bold;
        padding: 0 var(--base-pdd);
      }

      span,
      img {
        background: rgb(226, 226, 226);
        @include center;
        border-radius: 100%;
        margin-left: var(--pdd-s);
        width: calc(var(--size-l) - var(--pdd-m));
        height: calc(var(--size-l) - var(--pdd-m));
      }
    }
  }

  &.size {
    &-xl {
      height: min(var(--size-xl), var(--size-xl));
      font-size: var(--ft-sz-r);

      span {
        font-size: var(--btn-icon-sz-xl);
      }

      img {
        width: calc(var(--size-l) - var(--pdd-m));
        height: calc(var(--size-l) - var(--pdd-m));
      }
    }

    &-l {
      height: min(var(--size-l), var(--size-l));
      font-size: var(--ft-sz-m);

      span {
        font-size: var(--btn-icon-sz-l);
      }

      img {
        width: calc(var(--size-l) - var(--pdd-m));
        height: calc(var(--size-l) - var(--pdd-m));
      }
    }

    &-m {
      height: min(var(--size-m), var(--size-m));
      font-size: var(--ft-sz-xs);

      ion-icon {
        fill: "currentColor";

      }
    }

    &-s {
      height: min(var(--size-s), var(--size-s));
      font-size: var(--ft-sz-s);

      span {
        font-size: var(--btn-icon-sz-s);
      }
    }
  }

  &.expand {
    &-full {
      width: 100%;
    }

    &-regular {
      width: min(18.75rem, 18.75rem);
    }
  }

  &.icon-add {
    &-left {
      ion-icon {
        // color:red;
        margin-right: 0.3125rem;
      }
    }

    &-right {

      .text,
      p {
        margin-right: var(--btn-icon-mg);
      }
    }
  }
}

//#endregion
//#region --- BUTTON ICON
//*Structure
.btn-icon {
  cursor: pointer;
  // padding: unset;
  border: none;
  height: min(var(--size-l), var(--size-l));
  width: min(var(--size-l), var(--size-l));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*---*/
  --border-radius: var(--btn-radius);
  border-radius: var(--btn-radius);
  --box-shadow:none;
  mat-icon{
    // background:red;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: var(--size-l);
    min-height: minmax(var(--size-l),var(--size-l));
    min-width: var(--size-l);
  }
}

//*Attribute
.btn-icon {
  @extend %fill;
  @extend %shape;
  @extend %color;
  @extend %shadow;
  &.size {
    &-xl {
      height: min(var(--size-xl), var(--size-xl));
      width: min(var(--size-xl), var(--size-xl));
      span {
        font-size: 2rem;
      }
    }

    &-l {
      height: min(var(--size-l), var(--size-l));
      width: min(var(--size-l), var(--size-l));
    }

    &-m {
      height: min(var(--size-m), var(--size-m));
      width: min(var(--size-m), var(--size-m));
    }

    &-s {
      height: min(var(--size-s), var(--size-s));
      width: min(var(--size-s), var(--size-s));
    }
  }
}

//#endregion