@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/4iCs6KVjbNBYlgoKfw72.woff2") format('woff2');
  }

  @font-face{
    font-family:"Open sans";
    src:url("../fonts/Open-sans/opensans.woff2")format('woff2');
  }
  @font-face{
    font-family:"Asap";
    src:url("../fonts/Asap/KFO9CniXp96a4Tc2DaTeuDAoKsE615hJW34.woff2")format('woff2');
  }
// @font-face {
//   font-family:"Roboto";
//   src: url("../fonts/Roboto/Roboto-Regular.ttf")format('truetype');
// }