.form-io{
    // background:yellowgreen;
    min-height: 100%;
    width: 100%;
    max-width: 18.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}