.head-component {
  // background: rgb(255, 156, 255);
  min-height:4.5rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:0.5rem;
  .title-section {
    // background:rgb(81, 233, 81);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // margin:unset;
  }
  .title {
    // background:yellow;
    @include font-primary();
    width: 100%;
    &.margin-unset{
      margin:unset;
    }
  }
  .subtitle {
    // background:rgb(161, 161, 255);
    // @include font-secondary('parrafo');
    @include font-third();
  }
  .logo-section {
    height: 4rem;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
//#Atributos
.head-component{
  &.border{
    border-bottom:1px solid rgb(224, 224, 224);
  }
  &.text{
    &-left{
      .title,
      .subtitle {
        text-align: left;
      }
    }
   &-center{
    .title,
    .subtitle {
      text-align: center;
    }
   }
  }
}
