.modulo {
  margin: auto;
  width: 95%;
  max-width: var(--type-modulo-mxwidth);
  position: relative;
  padding: var(--type-modulo-padding);
  background: var(--type-modulo-color-i);
  border-radius: var(--type-modulo-rd);
  display: flex;
  flex-direction: column;
  .head-modulo {
    overflow: hidden;
    ion-toolbar {
      --background: none;
    }
  }
  .body-modulo {
    // background:violet;
    width: 100%;
   
  }
  .footer-modulo {
    width: 100%;
    padding:var(--type-modulo-footer-pdd) ;
  }
}
//#atributos
.modulo {
  &.type {
    &-form {
      height: 95vh;
      max-width: var(--type-modulo-width-s);
    }
  }
  &.shadow {
    box-shadow: var(--type-modulo-shadow);
  }
  .flex-one{
    flex:1;
  }
}
