*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  // h1,h2,h3,h4,h5,h6,p{
  //   // background: #000;
  //   margin:unset;
  // }