.inputs-section, .form-section{
    // background:violet;
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content: center;
    &.component{
        padding:0;   
    }
}
.buttons-section{
    // background:violet;
    width: 100%;
    padding: 1rem 0;
    &.button{
        &-unique{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-double{
            display:flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            
        }
        &-column{
            // background:rgb(235, 209, 65);
            padding:unset;
            display:grid;
            grid-template-columns: 1fr;
            row-gap: 0.8rem;
            justify-items: center;
        }
    }
}

.info-section {
    // background: rgb(252, 124, 124);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0;
    p{
        @include font-secondary('parrafo');
    }
  }