//#region --- Variables
.stand-component {
  --stand-base-pdd: var(--pdd-m);
  --stand-border: rgb(226, 226, 226);
  --stand-border: var(--gray-ii);
  --stand-border-ii: none;
  --stand-radius: 15px;
  --stand-radius: 30px;
  /*----*/
  --stand-promo-color: rgb(255, 153, 0);
  // --stand-data-section-bg: rgb(246, 246, 246);
  --stand-data-section-bg: none;
  --stand-section-bg: white;
  // --stand-section-bg-ii: rgb(247, 247, 247);
  // --stand-section-bg-ii: var(--gray-iv);
  --stand-section-bg-ii: var(--stand-section-bg);
  //// --stand-section-bg: rgb(219, 219, 219);
  --stand-section-pdd: var(--stand-base-pdd);
  --stand-options-size-xl: 6rem;
  --stand-options-size-l: 5rem;
  --stand-options-size-m: 4rem;
  --stand-options-size-s: 3rem;
}
//#endregion
//#region --- Extends
%rating {
  width: 100%;
  .rating-text {
    height: 100%;
    @include font-standar($color: var(--black-regular), $fw: 600);
  }
  .stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &>*:not(:last-child){
      margin-right:2px;
    }
    .star {
      display: flex;
      align-items: center;
      justify-content:center;
      width:min-content;
      height:min-content;
      color: #ccc;
      font-size: 1.2rem;
      position: relative;
      
    }
    .star.filled {
      color: var(--ion-color-primary);
    }
    .star.half {
      color: var(--ion-color-primary);
    }
    .star.half::before {
      color: #ccc;
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
  }
}
%required_options {
  .option-component-basic {
    //#structure
    .headline {
      // @include font-standar();
      @include font-standar($fw: 600);
      // font-size:0.83rem;
      padding: 0.65rem 0;
    }
    .options {
      // background:red;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      .item {
        cursor: pointer;
        background: white;
        border: 1px solid var(--stand-border);
        overflow: hidden;
        box-sizing: border-box;
        width: var(--stand-options-size-m);
        height: var(--stand-options-size-m);
        margin: 0.3125rem;
        &:hover {
          border: 2px solid var(--black-regular);
        }
        img {
          width: var(--stand-options-size-m);
          height: var(--stand-options-size-m);
        }
        span {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include font-standar($fs: 0.85rem, $color: var(--gray-ii), $fw: 600);
        }
        &.active {
          // border:2px solid var(--ion-color-primary);
          // span{
          //   color:var(--ion-color-primary);
          // }
        }
      }
    }
    .footer-required {
      display:flex;
      justify-content: flex-end;
      align-items: center;
      button {
        mat-icon {
          font-size: 1.3rem;
          font-weight:300;
        }
        p {
          font-size: 0.8rem;
        }
        &:hover{
          p{
            text-decoration: underline;
          }
        }
      }
    }
    //#attribut
    &.type {
      &-color{
        .options {
          .item {
            overflow: unset;
            position: relative;
            border-radius: none;
            box-sizing: border-box;
            background: white;
            border: none;
            .content-color {
              width: 100%;
              height: 100%;
              overflow: hidden;
              // background: rgb(211, 37, 255);
              border-radius: 100%;
              position: relative;
              display: grid;
              grid-template: 1fr;
              grid-template-columns: auto;
              overflow: hidden;
              transform: rotate(-45deg);
            }
  
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              // right:-3px;
              // bottom:-3px;
              width: calc(3rem + 9px);
              height: calc(3rem + 9px);
              // background:rgba(0,0,0,0.5);
              border: 2px solid var(--ion-color-primary);
              border-radius: 100%;
              box-sizing: border-box;
              opacity: 0;
            }
            &.active::before {
              opacity: 1;
            }
          }
        }
      }
      
    }
    &.size {
      &-xl {
        .options {
          .item {
            height: min(
              var(--stand-options-size-xl),
              var(--stand-options-size-xl)
            );
            width: min(
              var(--stand-options-size-xl),
              var(--stand-options-size-xl)
            );
            img {
              width: var(--stand-options-size-xl);
              height: var(--stand-options-size-xl);
            }
          }
        }
      }
      &-l {
        .options {
          .item {
            height: min(
              var(--stand-options-size-l),
              var(--stand-options-size-l)
            );
            width: min(
              var(--stand-options-size-l),
              var(--stand-options-size-l)
            );
            img {
              width: var(--stand-options-size-l);
              height: var(--stand-options-size-l);
            }
          }
        }
      }
      &-m {
        .options {
          .item {
            height: min(
              var(--stand-options-size-m),
              var(--stand-options-size-m)
            );
            width: min(
              var(--stand-options-size-m),
              var(--stand-options-size-m)
            );
            img {
              width: var(--stand-options-size-m);
              height: var(--stand-options-size-m);
            }
          }
        }
      }
      &-s {
        .options {
          .item {
            height: min(
              var(--stand-options-size-s),
              var(--stand-options-size-s)
            );
            width: min(
              var(--stand-options-size-s),
              var(--stand-options-size-s)
            );
            img {
              width: var(--stand-options-size-s);
              height: var(--stand-options-size-s);
            }
          }
        }
      }
    }
    &.shape {
      &-round {
        .options {
          .item {
            border-radius: 100%;
          }
        }
      }
      &-square {
        .options {
          .item {
            border-radius: var(--radius-square);
          }
        }
      }
      &-square-hard {
        .options {
          .item {
            border-radius: var(--radius-square);
            border-radius: var(--radius-ii);
          }
        }
      }
    }
   
  }
}
%details {
  .details-container {
    // background:violet;
    // padding-top: 1.25rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    // row-gap: 0.625rem;
    .item-detail {
      width: 100%;
      padding: 0.625rem;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: rgb(243, 243, 243);
      }
      .info-text {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        // margin-bottom: 0.625rem;

        .icon-info {
          margin-right: 0.3125rem;
          font-size: 1.1rem;
          font-weight: 300;
          color: var(--gray-ii);
          fill:var(--gray-ii);
          // color: rgb(155, 155, 155)
        }

        .primary {
          @include font-standar($fw: 600);
        }
        .secondary {
          @include font-standar($fs: 0.85rem, $color: var(--gray-ii));
          grid-column: 2;
          strong {
            color: rgb(78, 226, 78);
          }
        }
      }
    }
  }
}
//#endregion
//#region --- Structure
.stand-component {
  //
  padding: var(--stand-base-pdd) 2rem;
  //
  width: 100%;
  height: 100%;
}
.stand-section {
  background: var(--stand-section-bg);
  border-radius: var(--stand-radius);
  width: 100%;
  padding: 2rem 1.25rem;
  .title {
    @include font-title();
    padding-bottom: 0.625rem;
  }
}
//#endregion
//#region --- Sections
.stand-section {
  &.data-product {
    background: var(--stand-data-section-bg);
    padding: 1.25rem 0.625rem;
    min-height: 30rem;
    height: calc(100vh - 1.25rem);
    .image {
      height: 100%;
      width: 100%;
      // border-radius: 15px;
      .img-box {
        // background: violet;
        position: relative;
        height: 100%;
        width: 100%;
        // height:min(30rem,30rem);
        img {
          border-radius: var(--stand-radius);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .thumbernails {
        img {
          cursor: pointer;
          border-radius: 8px;
          border-radius: 15px;
          border: 1px solid var(--stand-border-ii);
          width: 4rem;
          height: 4rem;
        }
      }
    }
    .title {
      // background:red;
      @include font-title($fs: 1rem);
      text-align: left;
    }
    .rating {
      @extend %rating;
      .rating-text {
        color: var(--gray-ii);
      }
      display: flex;
      align-items: flex-start;
      & > :not(:first-child) {
        margin-left: var(--stand-base-pdd);
      }
    }
    .price {
      // background:rgb(252, 232, 252);
      display: flex;
      flex-direction: column;
      .price-current {
        // background:violet;
        @include font-standar(xlarge, $fw: 100);

        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .value {
          height: 100%;
          display: flex;
          align-items: center;
        }
        & > :not(:first-child) {
          margin-left: var(--stand-base-pdd);
        }
        sup {
          font-size: 0.85rem;
          font-weight: 400;
        }
        .promo {
          display: flex;
          align-items: center;
          height: 100%;
          color: var(--stand-promo-color);
          font-weight: 300;
        }
        .promo-label {
          display: flex;
          align-items: center;
          background: var(--stand-promo-color);
          padding: 0.3125rem;
          border-radius: 4px;
          color: white;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
      .price-old {
        @include font-standar(small, $color: var(--gray-old));
      }
    }
    .required-options {
      @extend %required_options;
      padding: var(--stand-base-pdd) 0;
      & > :not(:first-child) {
        margin-top: 0.625rem;
      }
    }
    .buttons-shopping {
      display: flex;
      align-items: center;
    }
    .suggested-product {
      @extend %required_options;
      padding: var(--stand-base-pdd) 0;
      & > :not(:first-child) {
        margin-top: 0.625rem;
      }
    }
    .perks-list {
      // background:red;
      ul {
        width: 100%;
        & > :not(:last-child) {
          margin-bottom: 0.625rem;
        }
      }
      li {
        width: 100%;
        list-style: none;
        button {
          background-color: #3dd1e7;
          // background-color:var(--stand-promo-color);
          border: 0 solid #e5e7eb;
          box-sizing: border-box;
          color: #ffffff;
          display: flex;
          // font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
          font-size: 1rem;
          font-weight: 700;
          justify-content: center;
          line-height: 1.75rem;
          padding: 0.75rem 1.65rem;
          position: relative;
          text-align: center;
          text-decoration: none #000000 solid;
          text-decoration-thickness: auto;
          width: 100%;
          max-width: 300px;
          position: relative;
          cursor: pointer;
          // transform: rotate(-2deg);
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          text-shadow: -1px -1px 0 rgb(184, 184, 184),
            1px -1px 0 rgb(184, 184, 184), -1px 1px 0 rgb(184, 184, 184),
            1px 1px 0 rgb(184, 184, 184);
          &:focus {
            outline: 0;
          }
          &:after {
            content: "";
            position: absolute;
            border: 1px solid #000000;
            bottom: 4px;
            left: 4px;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
          }
        }
      }
    }
    .specs-list {
      // background: rgb(221, 142, 142);
      // align-items: flex-end;
      // background:white;
      // border-radius:30px;
      // padding:2rem 0.625rem;
      ul {
        width: 100%;
      }
      li {
        width: 100%;
        list-style: none;
        button {
          // background: red;
          cursor: pointer;
          width: 100%;
          height: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          padding: 0.3125rem;
          box-sizing: border-box;
          border: none;
          background: none;
          border-bottom: 1px solid rgb(206, 206, 206);
          border-bottom: 1px solid rgb(226, 226, 226);
          &:hover {
            background: rgb(235, 235, 235);
          }
          .title-specs {
            @include font-standar(large-bold, $color: var(--gray-ii));
          }
          .legend-specs {
          }
        }
      }
    }
    .group-info {
  
    }
  }
  &.purchase-product {
    // padding-top: 0.625rem;
    height: content;
    width: 100%;
    @extend %details;
  }
  &.data-store {
    display:none;
    background: var(--stand-section-bg-ii);
    .headline {
      // background: greenyellow;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.625rem;
      .group {
        @include font-title();
        display: flex;
      }
      .logo {
        margin-right: 0.625rem;
        background: rgb(243, 243, 243);
        width: 2rem;
        height: 2rem;
        color: rgb(167, 167, 167);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .verified {
        color: var(--ion-color-primary);
      }
      .separator {
        @include separator;
        position: absolute;
        top: 100%;
      }
    }
    @extend %details;
  }
  &.description-product {
    // display:none;
    background: var(--stand-section-bg-ii);
    .description {
      @include font-standar();
      padding: 0 1.25rem;
    }
  }
  &.features-product {
    // display:none;
    background: var(--stand-section-bg-ii);
  
    .cuadricula {
      width: 100%;
      border-radius: 15px;
    }
    tbody {
      border-radius: 15px;
      overflow: hidden;
      width: 100%;
      & > :nth-child(odd) {
        background: rgb(231, 231, 231);
      }
      tr {
        // width: 200%;
        & > :nth-child(odd) {
          @include font-standar(medium-bold, $color: rgb(126, 126, 126));
        }
        td {
          // background:rgb(241, 241, 241);
          width: 50%;
          padding: 0.625rem;
          @include font-standar($color: var(--gray-ii));
        }
      }
    }
  }
  &.customer-reviews-product {
    background: var(--stand-section-bg-ii);
    .title{
      padding-bottom:unset;
    }
    .customer-rating {
      grid-area: rating;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 0.625rem;
      .head-rating {
        // background:yellow;
        display: flex;
        align-items: center;
        .score {
          @include font-standar(
            $fs: 2.5rem,
            $fw: 600,
            $color: var(--ion-color-primary)
          );
        }
        .rating {
          @extend %rating;
          margin-left: 0.625rem;
        }
      }
      .body-rating {
        .subtitle {
          @include font-title();
          padding: 0.625rem 0;
        }
        .rating {
          @extend %rating;
          padding: 0.625rem 0;
        }
      }
    }
    .customer-reviews {
      //   background: red;
      grid-area: reviews;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0.625rem;
      .subtitle {
        @include font-title();
      }
      .review {
        padding: 0.625rem 0;
        p {
          @include font-standar();
        }
        .buttons-section-common {
          padding: 0.625rem 0;
          .group-buttons {
            display: flex;
          }
          button {
            margin-right: 0.625rem;
          }
        }
      }
    }
  }
  &.size-chart-product{
    // display:none;
  .guide{
    display: flex;
    @include font-standar();
    .title{
      // background:red;
      padding:0.625rem 0;
      @include font-title();
    }
    .image{
      padding:0.625rem;
      display: flex;
      img{
        width:10rem;

      }
    }
  }
    .table{
      // background: violet;
      
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      >.title{
        padding:0.625rem 0;
        @include font-title();
      }
      table{
        width:fit-content;
        thead{
          th{
            height:4rem;
            width:4rem;
            background: #242424;
            @include font-title($color:white);
          }
        }
        tbody{
          th{
            height:4rem;
            width:4rem;
            @include font-standar(large-bold);
            background:rgb(246, 246, 246);
          }
        }
      }
    }
  }
}
//#endregion
//#region --- Grid
.stand-component {
  display: grid;
  grid-template-columns: 1fr 1fr 350px;
  grid-auto-rows: auto;
  align-items: flex-start;
  gap: var(--stand-base-pdd);
  grid-template-areas:
    "data data data"
    "reviews reviews group";
}
.group-stand-section {
  grid-area: group;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "purchase"
    "store";
  row-gap: 0.625rem;
  align-items: flex-start;
}
.stand-section {
  display: grid;
  gap: var(--stand-base-pdd);
  // overflow: hidden;
}
//***sections***//
.stand-section {
  &.data-product {
    grid-area: data;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-columns: minmax(650px, 1fr) minmax(370px, 1fr) 1fr;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas:
      "imagen rating groupInfo"
      "imagen title groupInfo"
      "imagen price groupInfo"
      "imagen options groupInfo"
      "imagen btn-shop groupInfo";
    column-gap: 1.25rem;
    .image {
      grid-area: imagen;
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-areas: "thumbernail image-product";
      // grid-template-areas: "image-product image-product";
      column-gap: 0.625rem;
      .img-box {
        grid-area: image-product;
      }
      .thumbernails {
        grid-area: thumbernail;
        display: grid;
        grid-template-columns: 4rem;
        grid-template-rows: auto;
        row-gap: 0.625rem;
        align-content: center;
        // display:none;
      }
    }
    .title {
      grid-area: title;
    }
    .rating {
      grid-area: rating;
    }
    .price {
      grid-area: price;
    }
    .required-options {
      grid-area: options;
      /* ----- */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .buttons-shopping {
      grid-area: btn-shop;
    }
    .suggested-product {
      grid-area: suggestions;
    }
    .search-onStand {
      grid-area: search;
    }
    .perks-list {
      grid-area: perks;
    }
    .specs-list {
      grid-area: specs;
    }
    .group-info {
      // background:red;
      grid-area: groupInfo;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: "perks" "specs";
      row-gap: 1.25rem;
      align-items: flex-start;
    }
  }
  &.description-product {
    // grid-area: description;
  }
  &.customer-reviews-product {
    grid-area: reviews;
    display: grid;
    align-items: flex-start;
    grid-template-areas: "title title" "rating reviews";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
  &.features-product {
    grid-area: features;
  }
  &.purchase-product {
    grid-area: purchase;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }
  &.data-store {
    grid-area: store;
    grid-template-columns: 1fr;
    row-gap: 0.1.25rem;
  }
  &.size-chart-product{
    grid-area:sizeChart;
  }
}
//#endregion
//#region --- Responsive
@include mediaquery(1120px) {
  .stand-section {
    border-radius: unset;
    &.data-product {
      height: fit-content;
      grid-template-columns: 650px 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "imagen rating"
        "imagen title"
        "imagen price"
        "imagen options"
        "imagen btn-shop"
        "groupInfo groupInfo";
      .perks-list {
        display: none;
        ul {
          li {
            button {
              transform: rotate(0);
              max-width: 80%;
            }
          }
        }
      }
      .specs-list {
        ul {
          li {
            button {
              align-items: flex-start;
            }
          }
        }
      }
      .group-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "specs perks";
        row-gap: 1.25rem;
        column-gap: 0.625rem;
      }
    }
  }
}
@include mediaquery(1020px) {
  .stand-component {
    padding: inherit 0.625rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "data data"
      "group group"
      "description description"
      "features features"
      "reviews reviews"
      "sizeChart sizeChart";
  }
  .group-stand-section {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    column-gap: 0.625rem;
    grid-template-areas: "store purchase";
  }
  //*sections
  .stand-section {
    &.data-product {
      grid-template-columns: 2fr 1fr;
      .image {
        grid-template-columns: 1fr;
        grid-template-areas: "image-product";
        .thumbernails {
          display: none;
        }
      }
    }
  }
}
@include mediaquery(820px) {
  .stand-component {
    padding: 0;
    column-gap: 0;
  }
  .group-stand-section {
    grid-template-columns: 1fr;
    row-gap: 0.625rem;
    column-gap: 0;
    grid-template-areas: "purchase" "store";
  }
  .stand-section {
    // border-radius: unset;
    &.data-product {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "imagen image"
        "title title"
        "rating  rating"
        "price price"
        "optoins options"
        "btn-shop btn-shop"
        "groupInfo groupInfo";
      column-gap: 0;
      .image {
        .image {
          img {
            border-radius: 0;
          }
        }
      }
      .title {
        grid-column: 1;
        padding: 0 1.25rem;
        font-size: 0.8rem;
        // display:none;
      }
      .rating {
        grid-column: 1;
        padding: 0 1.25rem;
        display: none;
      }
      .price {
        grid-column: 1;
        padding: 0 1.25rem;
        display: none;
        .price-current {
          font-size: 1rem;
        }
      }
      .required-options {
        // background:violet;
        grid-column: 1;
        grid-row: unset;
        padding: 0 1.25rem;
      }
    }
  }
}

//#endregion
