/** style title**/
.capsule-title {
  // background: orange;
  width: 100%;
  display: flex;
  //©titulo
  > .title-section {
    // background: yellow;
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--lt-color-primary);
    > h1 {
      @include margin-none;
      @include ft-primary;
      font-weight: bold;
      width: 100%;
    }
    > h2 {
      @include margin-none;
      @include ft-primary;
      width: 100%;
      font-weight: 400;
    }
    > h3,h5,h6 {
      @include margin-none;
      @include ft-secundary;
      width: 100%;
    }
    > p {
      @include ft-secundary();
      width: 100%;
      font-size: 0.85rem;
      text-align: left;
      &.middle {
        font-size: 0.75rem;
      }
    }
    > span {
      color: rgb(104, 104, 104);
      font-size: 2.5rem;
      cursor: pointer;
    }
    .text-center {
      text-align: center;
      width: 100%;
    }
    .text-justify {
      text-align: justify;
      width: 100%;
    }
    .font-one {
      font-family: "Roboto", sans-serif;
    }
  }
  //©logo
  >.logo-section {
    .bx-logo {
      width: 4rem;
      height: 4rem;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
      p {
        width: 100%;
        @include ft-secundary;
        font-size: 0.7rem;
      }
    }

  }
 //©skeletom
  &.capsule-title-sk {
    > .title {
      > h1 {
        // background:yellow;
        height: 2rem;
        width: 85%;
      }
      > h5 {
        margin-top: 0.5rem;
        height: 1.3rem;
        width: 90%;
      }
    }
    > .logo {
      .bx-logo {
        border-radius: 100%;
      }
    }
  }
}
.capsule-title-inp {
  > .title-inp {
    h4 {
      // @include title();
      // background:yellow;
      width: 100%;
      z-index: 1;
    }
    p {
      @include paragraph();
    }
  }
}
